{% extends "profiles/sidebar_deployment.html" %} {% block content %}
<h1 class="ui header">
    {{k9}}
    <div class="sub header">Team details for {{areas.team}}</div>
</h1>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Demand</a>
    <a class="item" data-tab="second">Deploy</a>
</div>

<div class="ui tab segment active" data-tab="first">
    <h3 class="ui dividing header">
        {{areas.area}}
    </h3>


    <h3 class="ui dividing header">
        Demand
    </h3>
    <table id="tabledata1" class="ui red table">
  <thead>
    <tr><th>Handler</th>
    <th>Explosives</th>
    <th>Narcotics</th>
    <th>Search and Rescue</th>
  </tr></thead><tbody>
    <tr>
      <td>{{areas.handlers}}</td>
      <td>{{areas.EDD}}</td>
      <td>{{areas.NDD}}</td>
      <td>{{areas.SAR}}</td>
    </tr>
  </tbody>
</table>

      <h3 class="ui dividing header">
        Current
    </h3>
    <table id="tabledata1" class="ui orange table">
  <thead>
    <tr><th>Handler</th>
    <th>Explosives</th>
    <th>Narcotics</th>
    <th>Search and Rescue</th>
  </tr></thead><tbody>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

</div>


        <div class="ui basic segment">
            <a href="{% url 'deployment:area_list'%}" class="ui blue button">Back</a>
        </div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata1');
        $('#tabledata2');
        $('#tabledata3');

        $('.menu .item').tab();
    });

</script>
{% endblock %}