{% extends "profiles/sidebar_deployment.html" %} {% block content %}
<h1 class="ui header">
    {{Title}}
    <div class="sub header">List of areas</div>
</h1>
		<table id="tabledata" class="ui celled table">
        	<thead>
          	<tr>
              <th>TEAM</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for Areas in areas %}
    				<tr>
                        <td><a  href="{% url 'deployment:area_detail' Areas.id %}">{{ Areas.team }}</a></td>
    				</tr>
				{% endfor %}
        </tbody>
    </table>

<script type="text/javascript">

	$(document).ready(function() {
		$('#tabledata').DataTable();
		$('.menu .item').tab();
	});

</script>
{% endblock %}