{% extends "profiles/sidebar_deployment.html" %}
{% load index %}

{% block content %}
<h1 class="ui header">
    {{k9}}
    <div class="sub header">Team details for {{team_assignment.team}}</div>
</h1>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Demand</a>
    <a class="item" data-tab="second">Deploy</a>
</div>

<div class="ui tab segment active" data-tab="first">
    <h3 class="ui dividing header">
        {{team_assignment.area}}
    </h3>


    <h3 class="ui dividing header">
        Demand
    </h3>
    <table id="tabledata1" class="ui red table">
  <thead>
    <tr><th>Handler</th>
    <th>Explosives</th>
    <th>Narcotics</th>
    <th>Search and Rescue</th>
  </tr></thead><tbody>
    <tr>
      <td>{{team_assignment.handlers}}</td>
      <td>{{team_assignment.EDD}}</td>
      <td>{{team_assignment.NDD}}</td>
      <td>{{team_assignment.SAR}}</td>
    </tr>
  </tbody>
</table>

      <h3 class="ui dividing header">
        Current
    </h3>
    <table id="tabledata1" class="ui orange table">
  <thead>
    <tr><th>Handler</th>
    <th>Explosives</th>
    <th>Narcotics</th>
    <th>Search and Rescue</th>
  </tr></thead><tbody>
    <tr>
      <td>{{current_deployed.handlers}}</td>
      <td>{{current_deployed.EDD}}</td>
      <td>{{current_deployed.NDD}}</td>
      <td>{{current_deployed.SAR}}</td>
    </tr>
  </tbody>
</table>

</div>

<div class="ui tab segment" data-tab="second">

    <table id=""tabledata2" class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th></th>
      <th>Handler</th>
      <th>K9</th>
      <th>Capability</th>
    </tr>
  </thead>
  <tbody>
    {% for team in team %}
    <tr>
      <td class="collapsing">
        <div class="ui checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>{{team.handler}}</td>
      <td>{{team.k9}}</td>
      <td>{{capability|capability:forloop.counter0}}</td>
    </tr>
    {% endfor %}
  </tbody>
</div>


        <!--<div class="ui basic segment">
            <a href="{% url 'deployment:area_list'%}" class="ui blue button">Back</a>
        </div>-->

<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata1');
        $('#tabledata2');
        $('#tabledata3');

        $('.menu .item').tab();
    });

</script>
{% endblock %}