{% extends "profiles/sidebar_deployment.html" %}

{% block content %}
<h2 class="ui header">
    {{title}}
    {{geoform.media}}
    <div class="sub header">Input request details here</div>
</h2>
       
<div class="ui fluid container">
    <form class="ui equal width form" id="request_form" action="{% url 'deployment:request_form' %}" method="POST">
    <div class="ui inverted segment">
        {% if messages %}
            {% for message in messages %}
                <div class="{{ style }}">{{message}}</div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}
        <div class="fields">
            <div class="field">
                <label>Requester</label>
                {{form.requester}}
            </div>
            <div class="field">
                <label>Phone Number</label>
                {{form.phone_number}}
            </div>
            <div class="field">
                <label>Email Address</label>
                {{form.email_address}}
            </div>
        </div>

        <div class="fields">
            <div class="field">
                <label>Address</label>
                {{form.location}}
            </div>
            <div class="field">
                <label>City</label>
                {{form.city}}
            </div>
        </div>

        <div class="fields">
            <div class="field">
                <label>Number of Explosives needed</label>
                {{form.EDD_needed}}
            </div>
            <div class="field">
                <label>Number of Narcotics needed</label>
                {{form.NDD_needed}}
            </div>
            <div class="field">
                <label>Number of Search and Rescue needed</label>
                {{form.SAR_needed}}
            </div>
        </div>

         <div class="fields">
            <div class="field">
                <label>Start of deployment</label>
                {{form.start_date}}
            </div>
            <div class="field">
                <label>End of deployment</label>
                {{form.end_date}}
            </div>
        </div>

    </div>


            <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">Submit</button>
    {{geoform.point}}
        </form>
</div>

  <!--<script>
    $("#id_area").change(function () {
      var url = $("#area_team_form").attr("data-teams-url");  // get the url of the `load_teams` view
      var areaId = $(this).val();  // get the selected area ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'area': areaId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_teams` view function
          $("#id_team").html(data);  // replace the contents of the teams input with the data that came from the server
        }
      });

    });
  </script>-->

{% endblock %}