{% extends "profiles/sidebar_deployment.html" %}
{% load index %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="ui green message"> {{ message }}</div>
    {% endfor %}
{% endif %}

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Details</a>
    <a class="item" data-tab="second">Deploy Dogs</a>
</div>

<div class="ui tab segment active" data-tab="first">
  <div class="ui raised segment">
    <table class="" style="width:100%;">
      <tr>
        <td><strong>Location: </strong>{{data2.location}}</td>
        <td><strong>Start date: </strong>{{data2.start_date}}</td>
        <td><strong>End date: </strong>{{data2.end_date}}</td>
        <td><strong>Contact number: </strong>{{data2.phone_number}}</td>
        <td><strong>Email Address: </strong>{{data2.email_address}}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui basic horizontal segments" style="border-style: none;">
       <div class="ui basic segment" style="border-style: none;">
         <label>No. of K9 Demand: </label>
         {% if data2.total_dogs_deployed >= data.total_dogs_demand %}
             <span class="ui green circular label">{{data2.total_dogs_demand}}</span>
         {%else%}
             <span class="ui red circular label">{{data2.total_dogs_demand}}</span>
         {% endif %}
         <table class="ui three column celled red table">
           <thead>
             <tr>
               <th>EDD Demand</th>
               <th>NDD Demand</th>
               <th>SAR Demand</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>{{data2.EDD_needed}}</td>
               <td>{{data2.NDD_needed}}</td>
               <td>{{data2.SAR_needed}}</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="ui basic segment" style="border-style: none;">
         <label>No. of K9 Deployed: </label>
         {% if data2.total_dogs_deployed >= data2.total_dogs_demand %}
             <span class="ui green circular label">{{data2.total_dogs_deployed}}</span>
         {%else%}
             <span class="ui orange circular label">{{data2.total_dogs_deployed}}</span>
         {% endif %}
         <table class="ui three column celled orange table">
           <thead>
             <tr>
               <th>EDD Deployed</th>
               <th>NDD Deployed</th>
               <th>SAR Deployed</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>{{data2.EDD_deployed}}</td>
               <td>{{data2.NDD_deployed}}</td>
               <td>{{data2.SAR_deployed}}</td>
             </tr>
           </tbody>
         </table>
       </div>
      </div>
    </div>
  </div>


    <h2 class="ui header">
    <i class="paw icon"></i>
    <div class="content">
      K9's Deployed
    </div>
  </h2>
  {% if data2.status == "Done" %}
  <table id="tabledata1" class="ui four column celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Serial Number</th>
          <th>Capability</th>
          <th>Handler</th>
        </tr>
    </thead>
    <tbody>
         {% for dogs_deployed in dogs_deployed %}
        <tr>
          <td>{{dogs_deployed.k9.name}}</td>
          <td>{{dogs_deployed.k9.serial_number}}</td>
          <td>{{dogs_deployed.k9.capability}}</td>
          <td>{{dogs_deployed.handler}}</td>
        </tr>
          {% endfor %}
    </tbody>
</table>
 {%else%}
 <table id="tabledata1" class="ui five column celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Capability</th>
        <th>Handler</th>
         <th></th>
      </tr>
  </thead>
  <tbody>
       {% for dogs_deployed in dogs_deployed %}
      <tr>
        <td>{{dogs_deployed.k9.name}}</td>
        <td>{{dogs_deployed.k9.serial_number}}</td>
        <td>{{dogs_deployed.k9.capability}}</td>
        <td>{{dogs_deployed.handler}}</td>
          <td class="ui center aligned" style="width:15%;">
           <a href="{% url 'deployment:remove_dog_request' dogs_deployed.id %}" onclick="return confirm('Are you sure?')" class="ui red basic button">Pull-out</a>
         </td>
      </tr>
        {% endfor %}
  </tbody>
</table>
 {% endif %}
{% if data2.status == "Pending"%}
 <form action="" method="post">
        {% csrf_token %}
        <div class="ui very padded segment">
            <center>
                <strong><label>Remarks: </label></strong>
            <div class="ui input">
            <input type="text" name="remarks" style="width:500px">
            </div></center>
        </div>
            <center>
        <div class="ui buttons">
           <button class="negative ui button" name="deny" onclick="return confirm('Are you sure?')">Deny</button>
           <div class="or"></div>
           <button class="ui positive button" name="approve" onclick="return confirm('Are you sure?')">Approve</button>
           </div></center>
    </form>
{%else%}
<div class="ui very padded segment">
  <strong>Remarks:</strong>
  <p>{{data2.remarks}}</p>
</div>
{%endif%}

</div>

<div class="ui tab segment" data-tab="second">
  {% if data2.status == "Approved" %}
  <form class="ui form" method="POST">
    {% csrf_token %}
    <table id="tabledata2" class="ui four column celled table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Serial Number</th>
              <th>Capability</th>
              <th>Handler</th>
            </tr>
        </thead>
        <tbody>
            {% for can_deploy in can_deploy %}
            <tr class="ui center aligned">
              <td style="width:10%;">
                <input type="checkbox" name="checks" value="{{can_deploy.id}}">
              </td>
              <td style="width:22%;">{{can_deploy.name}}</td>
              <td style="width:22%;">{{can_deploy.serial_number}}</td>
              <td style="width:22%;">{{can_deploy.capability}}</td>
              <td style="width:22%;">{{can_deploy.handler}}</td>
            </tr>
              {% endfor %}
        </tbody>
    </table>

    <div class="ui basic center aligned segment" style="padding: 0px;">
        <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">Deploy</button>
    </div>
  </form>
  {% elif data2.status == "Done" %}
  <div class="ui visible message">
      <div class="header">
    This Request is already Finished.
  </div>
  <p>No further action can be taken. This information only serves as historical reference.</p>
  </div>
  {% else %}
<div class="ui visible message">
      <div class="header">
    You must approve this request before you can deploy K9s!
  </div>
  <p>Go back to details tab to deny or approve request.</p>
</div>
    {% endif %}

</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata1').DataTable();
        $('#tabledata2').DataTable();
        $('.menu .item').tab();
    });

</script>
{% endblock %}
