{% extends "profiles/sidebar_deployment.html" %}
{% load index %}

{% block content %}
<h1 class="ui header">
    {{data.team}}
    <div class="sub header">Team details for {{data.team}}</div>
</h1>
{% if messages %}
    {% for message in messages %}
        <div class="ui green message"> {{ message }}</div>
    {% endfor %}
{% endif %}
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Details</a>
    <a class="item" data-tab="second">Deploy K9's</a>
    <a class="item" data-tab="third">History</a>
</div>

<div class="ui tab segment active" data-tab="first">
  <div class="ui raised segment">
    <table class="ui three column very basic table" style="width:50%;">
      <tr>
        <td><strong>Area: </strong>{{data.location.area}}</td>
        <td><strong>City: </strong>{{data.location.city}}</td>
        <td><strong>Place: </strong>{{data.location.place}}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui basic horizontal segments" style="border-style: none;">
       <div class="ui basic segment" style="border-style: none;">
         <label>No. of K9 Demand: </label>
         {% if data.total_dogs_deployed >= data.total_dogs_demand %}
             <span class="ui green circular label">{{data.total_dogs_demand}}</span>
         {%else%}
             <span class="ui red circular label">{{data.total_dogs_demand}}</span>
         {% endif %}
         <table class="ui three column celled red table">
           <thead>
             <tr>
               <th>EDD Demand</th>
               <th>NDD Demand</th>
               <th>SAR Demand</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>{{data.EDD_demand}}</td>
               <td>{{data.NDD_demand}}</td>
               <td>{{data.SAR_demand}}</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="ui basic segment" style="border-style: none;">
         <label>No. of K9 Deployed: </label>
         {% if data.total_dogs_deployed >= data.total_dogs_demand %}
             <span class="ui green circular label">{{data.total_dogs_deployed}}</span>
         {%else%}
             <span class="ui orange circular label">{{data.total_dogs_deployed}}</span>
         {% endif %}
         <table class="ui three column celled orange table">
           <thead>
             <tr>
               <th>EDD Deployed</th>
               <th>NDD Deployed</th>
               <th>SAR Deployed</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>{{data.EDD_deployed}}</td>
               <td>{{data.NDD_deployed}}</td>
               <td>{{data.SAR_deployed}}</td>
             </tr>
           </tbody>
         </table>
       </div>
      </div>
    </div>
  </div>


    <div class="ui basic segment">
    <label> No. of Incidents Related to</label>
        <div class="ui statistics">

         <div class="statistic">
    <div class="value">
      <i class="binoculars icon"></i> {{sar_inc}}
    </div>
    <div class="label">
      Search and Rescue
    </div>
  </div>

        <div class="statistic">
    <div class="value">
      <i class="pills icon"></i> {{ndd_inc}}
    </div>
    <div class="label">
      Narcotics
    </div>
  </div>

         <div class="statistic">
    <div class="value">
      <i class="bomb icon"></i> {{edd_inc}}
    </div>
    <div class="label">
      Explosives
    </div>
  </div>

        </div>
    </div>

<h2 class="ui header">
    <i class="paw icon"></i>
    <div class="content">
      K9's Deployed
    </div>
  </h2>
 <table id="tabledata1" class="ui five column celled table">
       <thead>
         <tr>
           <th>Name</th>
           <th>Serial Number</th>
           <th>Capability</th>
           <th>Handler</th>
           <th></th>
         </tr>
     </thead>
     <tbody>
        	{% for dogs_deployed in dogs_deployed %}
         <tr>
           <td>{{dogs_deployed.k9.name}}</td>
           <td>{{dogs_deployed.k9.serial_number}}</td>
           <td>{{dogs_deployed.k9.capability}}</td>
           <td>{{dogs_deployed.k9.handler}}</td>
           <td class="ui center aligned" style="width:15%;">
              <a href="{% url 'deployment:remove_dog_deployed' dogs_deployed.id %}" onclick="return confirm('Are you sure?')" class="ui red basic button">Pull-out</a>
            </td>
         </tr>
         	{% endfor %}
     </tbody>
 </table>
</div>


<div class="ui tab segment" data-tab="second">
  <form class="ui form" method="POST">
    {% csrf_token %}
    <table id="tabledata2" class="ui four column celled table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Serial Number</th>
              <th>Capability</th>
              <th>Handler</th>
                <th>Days Before Next Request</th>
                <th>View Schedules</th>
            </tr>
        </thead>
        <tbody>
            {% for can_deploy in can_deploy %}
            <tr class="ui center aligned">
              <td style="width:10%;">
                <input type="checkbox" name="checks" value="{{can_deploy.id}}">
              </td>
              <td style="width:22%;">{{can_deploy.name}}</td>
              <td style="width:22%;">{{can_deploy.serial_number}}</td>
              <td style="width:22%;">{{can_deploy.capability}}</td>
              <td style="width:22%;">{{can_deploy.handler}}</td>
                <td>{{can_deploy|days_before_next_request:forloop.counter0}}</td>
                <td><a href="{% url 'deployment:view_schedule' can_deploy.id %}">View Schedule</a></td>
            </tr>
              {% endfor %}
        </tbody>
    </table>

    <div class="ui basic center aligned segment" style="padding: 0px;">
        <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">Deploy</button>
    </div>
  </form>
</div>
<div class="ui tab segment" data-tab="third">
  <table id="tabledata3" class="ui five column celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Capability</th>
            <th>Date Assigned</th>
            <th>Date Pulled</th>
          </tr>
      </thead>
      <tbody>
          {% for dogs_pulled in dogs_pulled %}
          <tr class="ui center aligned">
            <td>{{dogs_pulled.k9.name}}</td>
            <td>{{dogs_pulled.k9.serial_number}}</td>
            <td>{{dogs_pulled.k9.capability}}</td>
            <td>{{dogs_pulled.date_added}}</td>
            <td>{{dogs_pulled.date_pulled}}</td>
          </tr>
            {% endfor %}
      </tbody>
  </table>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata1').DataTable();
        $('#tabledata2').DataTable();
        $('#tabledata3').DataTable({
              "order": [[ 4, "desc" ]]
        });
        $('.menu .item').tab();
    });

</script>
{% endblock %}
