{% extends "profiles/global-base-ui/sidebar_menu.html" %} 
<!-- <p>k9 performance</p>
  <p>Request = on leave, medicine, phyx, vaccine, equipment</p>
  <p>refresher</p> -->
{% block dashboard %}
  <div class="container fluid">
    <div class="ui two column grid">
      <div class="streched row">
        <div class="ten wide column"  style="padding-right: 0%;">
          <div class="ui basic segment">
            <div class="ui stackable grid">        
                <div class="sixteen wide column">
                    <div class="ui raised segment">
                        <canvas id="myChart"></canvas>
                        {{area}}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="six wide column" style="padding: 0%;padding-right: 1%;">
            <div class="ui basic segment" style="padding-left: 0%;">
                
                    <div class="ui black floating message">
                        <p>Mini calendar</p>
                      </div>
                    <div class="ui orange floating message"  style="margin: 0%;padding:0%;">   
    
                        <table class="ui basic table">
                          <tr>
                            <td>Info Here</td>
                            <td class="center aligned three wide">
                              <a href="#" class="ui tiny black button">Details</a>
                            </td>
                          </tr>
                        </table>
                    </div>

                    <div class="ui red floating message"  style="margin: 0%;padding:0%;">   
                      <ul>
                        <li>Reminder</li>
                        <li>Request</li>
                        <li>Todo List: daily, weekly, monthly</li>
                      </ul>
                    </div>
            </div>
          </div>
        </div>
    </div>
    </div>
<script>
$(document).ready(function() {
    var endpoint = '../../unitmanagement/handler/api'
    var performance = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
          performance = data.performance
          console.log(performance)
          setChart()         
        },
        error: function(error_data){
          console.log("error")
          console.log(error_data)
        }
    })

    function setChart(){
        var ctx = document.getElementById('myChart');
        //Chart1
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
              datasets: [{
                    label: "{{k9}}",
                    data: performance,
                    backgroundColor: ['rgba(75, 192, 192, 0.5)'],
                    borderColor: ['rgba(75, 192, 192, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
            animation: {
                animateScale: true,
            },
            title: {
                display: true,
                text: "K9 Performance"
            },
            scales: {
                xAxes: [{
                ticks: {
                    beginAtZero: true,
                }
                }],
                yAxes: [{
                ticks: {
                    beginAtZero: true,
                    step:1,
                    suggestedMax:100,
                }
                }]
            },
          }
        });
      }
    
});
</script>
{% endblock%}