{% extends "profiles/global-base-ui/sidebar_menu.html" %} 

{% block dashboard %}



<div class="container fluid">
  <h1>Dashboard</h1>
  <div class="ui two column grid">
    <div class="column">

        <div class="ui right aligned basic segment" style="padding:0%;margin:0%;margin-bottom: 5px;" >
            <div class="ui buttons">
                <button class="ui button"  id = "prev" >Previous Year</button>
                <div class="or"></div>
                <button class="ui button"  id = "next" >Next Year</button>
              </div>
        
        </div>

      <div id = "calendar" style="margin-top:0%;">

    
      </div></div>


    <div class="column">
    </div>
  </div>
</div>

<style>
.fc-header, .fc-button, #prev, #next{
  background-color:orangered;
  color: white;
}

 #calendar {
    max-width: 900px;
    margin: 40px auto;
 }
</style>

<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },

          defaultView: 'month',
          weekNumbers: 'true',
          editable: true,
          selectable: true,
          eventLimit: 3,
          nowIndicator: true,

          eventTextColor: "white",


          events: [
                {% for i in events %}
                {
                    id: '{{ i.id }}',
                    title: '{{i.event_name}}',
                    start: '{{ i.start_date|date:"Y-m-d" }}',
                    end: '{{ i.end_date|date:"Y-m-d" }}',
                    allDay: 'true',
                },
                {% endfor %}
            ],
            dayClick: function(date) {
                new_date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
                var view = $('#calendar').fullCalendar('getView');

                    $('#calendar').fullCalendar('gotoDate',date);
                    $('#calendar').fullCalendar('changeView', 'agendaDay');

                },

          });



      $('#prev').click(function() {
      $('#calendar').fullCalendar('prevYear');
      });

      $('#next').click(function() {
      $('#calendar').fullCalendar('nextYear');
      });
    
  });
</script>

{% endblock%}

