{% extends "profiles/global-base-ui/sidebar_menu.html" %}
{% block dashboard %}
<div class="pusher" style="background:white;">
    <div class="ui container">
        <div class="ui very basic segment">
            <div class="ui icon message">
            <i class="teal inbox icon"></i>
                <div class="content">
                    <div class="header">
                    Notifications
                    </div>
                    <p>Dont miss out!</p>
                </div>
            </div>
        </div>
      
   
        <div class="ui very basic segment">
                {% for notif_data in notif_data%}
                {%if notif_data.viewed == True %}
                    <div class="ui orange message" style='opacity: 0.5;'>
                        <div class="ui feed">
                            <div class="event">
                                <div class="content">
                                <div class="date">
                                        {{notif_data.datetime}}
                                </div>
                                <a class="summary" href="{% url 'unitmanagement:redirect_notif' notif_data.id %}">
                                        {{notif_data.message}}
                                </a>
                                </div>
                            </div>
                        </div>
        
                    </div>
                {%else%}
                <div class="ui orange message">
                        <div class="ui feed">
                            <div class="event">
                                <div class="content">
                                <div class="date">
                                        {{notif_data.datetime}}
                                </div>
                                <a class="summary" href="{% url 'unitmanagement:redirect_notif' notif_data.id %}">
                                        {{notif_data.message}}
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}
                {% endfor%}
        </div>
          
        
    </div>
</div>



{% endblock %}