{% extends "profiles/global-base-ui/sidebar_menu.html" %}  

{% block sidebar_module %}
    <div class="pusher">
        <div class="ui basic segment">

              <div class="ui fluid container">
                    <div class="ui grid">
                        <div class="three wide column">
                                <div class="ui pointing vertical menu" style="width:230px;">
                                    <div class = "subdiv">
                                        <p class = "submenu" style="font-weight:bold;color:black;font-size:15px;">K9 Menu</p>
                                            
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'planningandacquiring:add_K9_form'%}">Add K9 Form</a>
                                            <i class="plus circle icon "></i>
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'planningandacquiring:K9_list'%}">K9 List View</a>
                                            <i class="list alternate icon "></i>
                                    </div>
                                   
                                </div>
                            <!-- <div class="ui pointing vertical menu">
                                <div class="item">
                                    <b>K9 Menu</b>
                                    <div class="menu">
                                        <a class="item" href="{% url 'planningandacquiring:add_K9_form'%}">Add K9 Form</a>
                                        <a class="item" href="{% url 'planningandacquiring:K9_list'%}">K9 List View</a>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <!>
                        <div class="thirteen wide column">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
              </div>
        </div>
      </div>

      <style>
          .submenu{
                color: #666666;
                display: block;
                font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
                display: list-item;
                table-layout: fixed;
                background-color: transparent;
                list-style-type: none;
                list-style-position: outside;
                line-height: 1.14285714em;
              
            }
            .submenu:hover{
                color: black;
            }
            .subdiv{
                display: flex; 
                padding: 8px;  
                flex-wrap: wrap;
                justify-content: space-between;
            }
          
      </style>
{% endblock%}