{% extends "profiles/global-base-ui/sidebar_menu.html" %}  

{% block sidebar_module %}
    <div class="pusher">
        <div class="ui basic segment">

              <div class="ui fluid container">
                    <div class="ui grid">
                        <div class="three wide column">
                                <div class="ui tiny pointing vertical menu" style="width:230px;">
                                        <a class="item"> <b>Inventory Menu</b></a>
                                        
                                        <a href="{% url 'inventory:medicine_add'%}" class="item">Add Medicine
                                                <i class="plus circle icon"></i>
                                        </a>  
                                        <a href="{% url 'inventory:food_add'%}" class="item">Add Dog Food
                                                <i class="plus circle icon"></i>
                                        </a> 
                                        <a href="{% url 'inventory:miscellaneous_add'%}" class="item">Add Miscellaneous Item
                                                <i class="plus circle icon"></i>
                                        </a>  
                                        <a href="{% url 'inventory:medicine_inventory_list'%}" class="item">Medicine Inventory List View
                                                <i class="clipboard list icon"></i>
                                        </a>  
                                        <a href="{% url 'inventory:food_inventory_list'%}" class="item">Dog Food Inventory List View
                                                <i class="clipboard list icon"></i>
                                        </a>  
                                        <a href="{% url 'inventory:miscellaneous_inventory_list'%}" class="item">Miscellaneous Inventory List View
                                                <i class="clipboard list icon"></i>
                                        </a>  
                                </div>
                        </div>
                        <!>
                        <div class="thirteen wide column">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
              </div>
        </div>
      </div>

{% endblock%}