{% extends "profiles/global-base-ui/sidebar_menu.html" %}  

{% block sidebar_module %}
    <div class="pusher">
        <div class="ui basic segment">

              <div class="ui fluid container">
                    <div class="ui grid">
                        <div class="three wide column">
                                <div class="ui tiny pointing vertical menu" style="width:230px;">
                                    <a class="item"> <b>Deployment Menu</b></a>
                                    <a href="{% url 'deployment:add_location'%}" class="item">Add Location
                                        <i class="plus circle icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:add_team'%}" class="item">Add Team
                                        <i class="plus circle icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:assign_team'%}" class="item">Add Area Details
                                        <i class="plus circle icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:area_list'%}" class="item">Area List
                                        <i class="list alternate icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:deployed_dogs'%}" class="item">Deployed Dogs
                                        <i class="list alternate icon"></i>
                                    </a>  
                                    <a href="{% url 'deployment:requested_dogs'%}" class="item">Requested Dogs
                                        <i class="phone icon"></i>
                                    </a>  
                                </div>
                        </div>
                        <!>
                        <div class="thirteen wide column">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
              </div>
        </div>
    </div>

{% endblock%}
