{% extends "profiles/global-base-ui/sidebar_menu.html" %}  

{% block sidebar_module %}
    <div class="pusher">
        <div class="ui basic segment">

              <div class="ui fluid container">
                    <div class="ui grid">
                        <div class="three wide column">
                                <div class="ui pointing vertical menu">
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'inventory:medicine_add'%}">Add Medicine</a>
                                            <i class="plus circle icon "></i>
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'inventory:food_add'%}">Add Dog Food</a>
                                            <i class="plus circle icon "></i>
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'inventory:equipment_add'%}">Add Equipment</a>
                                            <i class="plus circle icon "></i>
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'inventory:medicine_list'%}">Medicine List</a>
                                            <i class="list alternate icon "></i>
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'inventory:food_list'%}">Dog Food List</a>
                                            <i class="list alternate icon "></i>
                                    </div>
                                    <div class = "subdiv">
                                            <a class = "submenu" href="{% url 'inventory:equipment_list'%}">Equipment List</a>
                                            <i class="list alternate icon "></i>
                                    </div>
                                   
                                </div>
                        </div>
                        <!>
                        <div class="thirteen wide column">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
              </div>
        </div>
      </div>

{% endblock%}