{% extends "profiles/global-base-ui/sidebar_menu.html" %}

{% block sidebar_module %}
    <div class="pusher" style="background:white;">
        <div class="ui basic segment">

              <div class="ui fluid container">
                    <div class="ui grid">
                        <div class="three wide column">
                                <div class="ui tiny pointing vertical menu" style="width:230px;">
                                    <a class="item"> <b>Deployment Menu</b></a>
                                    <a href="{% url 'deployment:add_area'%}" class="item">Add Area
                                        <i class="plus circle icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:add_location'%}" class="item">Add Location
                                        <i class="plus circle icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:assign_team_location'%}" class="item">Assign Team to Location
                                        <i class="hand point up icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:assigned_location_list'%}" class="item">Team Location List View
                                        <i class="list alternate icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:request_form'%}" class="item">Request Dog Form
                                        <i class="exclamation icon"></i>
                                    </a>
                                    <a href="{% url 'deployment:request_dog_list'%}" class="item">Request List
                                        <i class="clipboard list icon"></i>
                                    </a>
                                </div>
                        </div>
                        <!>
                        <div class="thirteen wide column">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
              </div>
        </div>
    </div>

{% endblock%}
