{% extends "profiles/sidebar_adoption.html" %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="ui segment">
    <div class="ui segment">
        <table class="ui four column celled table"> 
            <thead>
                <tr>
                    <th>Name</th>
                    <td>{{data.k9.name}}</td>
                    <th>Breed</th>
                    <td>{{data.k9.breed}}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{data.k9.sex}}</td>
                    <th>Color</th>
                    <td>{{data.k9.color}}</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>{{data.k9.birth_date}}</td>
                    <th>Age</th>
                    <td>{{data.k9.age}}</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="ui segment">
        <h3>Adopted By: {{data.owner}}</h3>
        <p>Date Adopted: {{data.date_adopted}}</p>
    </div>
    <div class="ui segment">
        <table class="ui four column celled table"> 
            <thead>
                <tr>
                    <th>Age</th>
                    <td>{{data.owner.age}}</td>
                    <th>Birthday</th>
                    <td>{{data.owner.birth_date}}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{data.owner.sex}}</td>
                    <th>Contact #</th>
                    <td>{{data.owner.contact_no}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{data.owner.email}}</td>
                    <th>Address</th>
                    <td>{{data.owner.address}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {

    });

</script>
 {% endblock %}
