{% extends "profiles/sidebar_training.html" %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ Title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="ui very padded segment">
    <label>Assign handler to k9</label>
    <form class = "ui inverted fluid form" method="POST">
 {% csrf_token %}
                <div class="ui fluid container">
                  <div class="field">
                        {{form.handler}}
                    </div>
                </div>

        <div class="ui center aligned basic segment" style="padding: 0px;">
        <button id = "submit" class = "ui button green" type="submit" >Submit</button>
        </div>

    </form>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata').DataTable();

    } );

</script>
 {% endblock %}
