{% extends "profiles/sidebar_training.html" %}
{% load training_tags %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">Classify {{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class='{{style}}'> {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<div class="ui segment">
    <table class="ui two column celled table">
        <thead>
        <tr>
                <th>Name</th>
                <td>{{data.name}}</td>
            </tr>
            <tr>
                <th>Age (years)</th>
                <td>{{data.age}}</td>
            </tr>
            <tr>
                <th>Breed</th>
                <td>{{data.breed}}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{data.sex}}</td>
            </tr>
            {% if parent_exist %}
            <tr>
                <th>Mother</th>
                <td>{{parent.mother}}</td>
            </tr>
            <tr>
                <th>Father</th>
                <td>{{parent.father}}</td>
            </tr>
            {% else %}
            <tr>
                <th>Mother</th>
                <td>Unknown</td>
            </tr>
            <tr>
                <th>Father</th>
                <td>Unknown</td>
            </tr>
            {% endif %}
        </thead>
    </table>
</div>

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
   <i class="question icon"></i>Information
  </div>
  <ul class="list">
    <li>Below this is a list of suggested skill assignment based from current data.</li>
      <li>The systems follows the following criteria below and adds a score to the skill that best meet the criteria. The skill cell that meets the criteria has a value highlighted in green.</li>
      <li>The skill with the most score is the recommended assignment. The user may still check some of the other data presented in the page as basis for assigning a skill.</li>
  </ul>
</div>

<form class="ui form" method="POST">
    {% csrf_token %}
  <div class = "ui segment">
    <table class="ui five column celled table">
        <thead class="center aligned">
            <tr>
                <th>Select</th>
                <th>Most Recurring Skill Among All K9s of the Same Breed</th>
                <th ><a data-tooltip="View K9 ancestral data" href="{% url 'training:genealogy' data.id %}">Most Recurring Skill Among Ancestors</a></th>
                <th>Recommended Skill Based on K9 Traits</th>
                <th>Score</th>
            </tr>

        </thead>
        <tbody class = "center aligned">
             <tr>
            {% if sar.grade == '0' or data.capability == 'SAR' %}
            <td>
              <input type="radio" name="radio" value="SAR" disabled>SAR
                </td>
            {%else%}
        <td>
              <input type="radio" name="radio" value="SAR">SAR
        </td>
            {%endif%}

                 {% if breed_score.0 == 1%}
                 <td><a class="ui green circular label">{{skill_breed_sar}}</a></td>
                 {% else %}
                 <td>{{skill_breed_sar}}</td>
                 {% endif %}

                 {% if gene_score.0 == 1%}
                 <td><a class="ui green circular label">{{skill_gene_sar}}</a></td>
                 {% else %}
                 <td>{{skill_gene_sar}}</td>
                 {% endif %}
                  <td><i class="large green check circle icon"></i></td>

                  <td>
                  {% for i in SAR_score|star_times %}
                      <i class="yellow star icon"></i>
                  {% endfor %}
                    {% for i in SAR_score|star_left %}
                      <i class="yellow star outline icon"></i>
                      {% endfor %}
                  </td>
        </tr>


            <tr>
            {% if ndd.grade == '0' or data.capability == 'NDD'%}
            <td>
              <input type="radio" name="radio" value="NDD" disabled>NDD
                </td>
            {%else%}
            <td>
              <input type="radio" name="radio" value="NDD">NDD
            </td>
            {%endif%}

               {% if breed_score.1 == 1%}
                 <td><a class="ui green circular label">{{skill_breed_ndd}}</a></td>
                 {% else %}
                 <td>{{skill_breed_ndd}}</td>
                 {% endif %}

                 {% if gene_score.1 == 1%}
                 <td><a class="ui green circular label">{{skill_gene_ndd}}</a></td>
                 {% else %}
                 <td>{{skill_gene_ndd}}</td>
                 {% endif %}
                  <td></td>

                  <td>
                  {% for i in NDD_score|star_times %}
                      <i class="yellow star icon"></i>
                  {% endfor %}
                    {% for i in NDD_score|star_left %}
                      <i class="yellow star outline icon"></i>
                      {% endfor %}
                  </td>
            </tr>



             <tr>
            {% if edd.grade == '0' or data.capability == 'EDD' %}
            <td>
              <input type="radio" name="radio" value="EDD" disabled>EDD
            </td>
            {%else%}
            <td>
              <input type="radio" name="radio" value="EDD">EDD
            </td>
            {%endif%}
                 {% if breed_score.2 == 1%}
                 <td><a class="ui green circular label">{{skill_breed_edd}}</a></td>
                 {% else %}
                 <td>{{skill_breed_edd}}</td>
                 {% endif %}

                 {% if gene_score.2 == 1%}
                 <td><a class="ui green circular label">{{skill_gene_edd}}</a></td>
                 {% else %}
                 <td>{{skill_gene_edd}}</td>
                 {% endif %}
                  <td></td>

                  <td>
                  {% for i in EDD_score|star_times %}
                      <i class="yellow star icon"></i>
                  {% endfor %}
                    {% for i in EDD_score|star_left %}
                      <i class="yellow star outline icon"></i>
                      {% endfor %}
                  </td>
             </tr>
</tbody>
    </table>
          <button class="ui green button" type="Submit">Assign Skill</button>
  </div>
</form>


{% if graph %}
{{ graph|safe }}
{% endif %}


<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata').DataTable();

    
    } );

        var selected = $("input[name='radio']");
        alert(select.val)
    });

</script>
 {% endblock %}
