{% extends "profiles/sidebar_training.html" %}  

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
</div>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Unclassified</a>
    <a class="item" data-tab="second">Classified</a>
    <a class="item" data-tab="third">On-Training</a>
    <a class="item" data-tab="fourth">Trained</a>
    <a class="item" data-tab="fifth">For Breeding</a>
    <a class="item" data-tab="sixth">For Adoption</a>
</div>
<div class="ui tab segment active" data-tab="first">
    <table id="tabledata1" class="ui seven column celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Classification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for data_unclassified in data_unclassified %}
            <tr>
                <td>{{data_unclassified.name}}</td>
                <td >{{data_unclassified.breed}}</td>
                <td>{{data_unclassified.color}}</td>
                <td >{{data_unclassified.sex}}</td>
                <td>{{data_unclassified.age}}</td>
                <td>{{data_unclassified.capability}}</td>
                <td style="text-align:center;">
                    <a href="{% url 'training:classify_k9_select' data_unclassified.id %}" class = "tiny ui blue basic button">Select</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui tab segment" data-tab="second">
    <table id="tabledata2" class="ui seven column celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Classification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for data_classified in data_classified %}
            <tr>
                <td>{{data_classified.name}}</td>
                <td >{{data_classified.breed}}</td>
                <td>{{data_classified.color}}</td>
                <td >{{data_classified.sex}}</td>
                <td>{{data_classified.age}}</td>
                <td>{{data_classified.capability}}</td>
                <td style="text-align:center;">
                    <a href="{% url 'training:assign_k9_select' data_classified.id %}" class = "tiny ui blue basic button">Select</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui tab segment" data-tab="third">
<table id="tabledata3" class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Traning Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for data_ontraining in data_ontraining %}
        <tr>
            <td>{{data_ontraining.name}}</td>
            <td >{{data_ontraining.breed}}</td>
            <td>{{data_ontraining.color}}</td>
            <td >{{data_ontraining.sex}}</td>
            <td>{{data_ontraining.age}}</td>
            <td>{{data_ontraining.training_level}}</td>
            <td style="width:140px;">
                <a href="{% url 'training:training_update_form' data_ontraining.training_id %}" class = "tiny ui blue basic button">Select</a>
                <a href="{% url 'training:fail_dog' data_ontraining.training_id %}" onclick="return confirm('Are you sure?')" class = "tiny ui red basic button">Drop</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="ui tab segment" data-tab="fourth">
<table id="tabledata4" class="ui seven column celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Training Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for data_trained in data_trained %}
        <tr>
            <td>{{data_trained.name}}</td>
            <td >{{data_trained.breed}}</td>
            <td>{{data_trained.color}}</td>
            <td >{{data_trained.sex}}</td>
            <td>{{data_trained.age}}</td>
            <td>{{data_trained.training_level}}</td>
            <td style="text-align:center;">
                <a href="{% url 'training:serial_number_form' data_trained.id %}" class = "tiny ui blue basic button">Select</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="ui tab segment" data-tab="fifth">
        <table id="tabledata5" class="ui seven column celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Color</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Source</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data_breeeding in data_breeeding %}
                <tr>
                    <td>{{data_breeeding.name}}</td>
                    <td >{{data_breeeding.breed}}</td>
                    <td>{{data_breeeding.color}}</td>
                    <td >{{data_breeeding.sex}}</td>
                    <td>{{data_breeeding.age}}</td>
                    <td>{{data_breeeding.source}}</td>
                    <td style="text-align:center;">
                        <a href="{% url 'training:training_details' data_breeeding.training_id %}" class = "tiny ui blue basic button">Select</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div class="ui tab segment" data-tab="sixth">
        <table id="tabledata6" class="ui seven column celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Color</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Training Level</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data_adoption in data_adoption %}
                <tr>
                    <td>{{data_adoption.name}}</td>
                    <td >{{data_adoption.breed}}</td>
                    <td>{{data_adoption.color}}</td>
                    <td >{{data_adoption.sex}}</td>
                    <td>{{data_adoption.age}}</td>
                    <td>{{data_adoption.training_level}}</td>
                    <td style="text-align:center;">
                        <a href="{% url 'training:training_details' data_adoption.id %}" class = "tiny ui blue basic button">Select</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script type="text/javascript">
        
    $(document).ready(function() {
        $('#tabledata1').DataTable();
        $('#tabledata2').DataTable();
        $('#tabledata3').DataTable();
        $('#tabledata4').DataTable();
        $('#tabledata5').DataTable();
        $('#tabledata6').DataTable();
        $('.menu .item').tab();
    });
    
</script>
 {% endblock %}