{% extends "profiles/sidebar_training.html" %}  

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">Classify {{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class='ui green message' > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<div class="ui segment">
    <table class="ui two column celled table">
        <thead>
        <tr>
                <th>Name</th>
                <td>{{data.name}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{data.age}}</td>
            </tr>
            <tr>
                <th>Breed</th>
                <td>{{data.breed}}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{data.sex}}</td>
            </tr>
            {% if parent_exist %}
            <tr>
                <th>Mother</th>
                <td>{{parent.mother}}</td>
            </tr>
            <tr>
                <th>Father</th>
                <td>{{parent.father}}</td>
            </tr>
            {% else %}
            <tr>
                <th>Mother</th>
                <td>Unknown</td>
            </tr>
            <tr>
                <th>Father</th>
                <td>Unknown</td>
            </tr>
            {% endif %}
            <tr>
                <th>Classification</th>
                <td>{{data.capability}}</td>
            </tr>
        </thead>
    </table>
</div>

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
   <i class="question icon"></i>Information
  </div>
  <ul class="list">
    <li>Below this is a list of suggested skill assignment based from current data.</li>
      <li>Click on a category to view corresponding data diagram.</li>
  </ul>
</div>

<div class = "ui segment">
    <table class="ui four column celled table">
        <thead>
            <tr>
                <th>Categories</th>
                <th>Skills</th>
                <th>Categories</th>
                <th>Skills</th>
            </tr>
            <tr>
                <th data-tooltip= "Click here to view data diagram on currently demanded skill">Demand</th>
                <td>Somthing</td>
                <th data-tooltip= "Click here to view data diagram on fraction of all skills">Ratio</th>
                <td>Somthing</td>
            </tr>
            <tr>
                <th data-tooltip= "Click here to view data diagram on hereditary skills (all members)">Family History (General)</th>
                <td>Somthing</td>
                <th data-tooltip= "Click here to view data diagram on hereditary skills (members with the same breed)">Family History (Gender)</th>
                <td>Somthing</td>
            </tr>

            <tr>
                <th data-tooltip= "Click here to view data diagram on skill count on current breed">Breed</th>
                <td>Somthing</td>
                <th data-tooltip= "Click here to view data diagram on skill count on current sex">Sex</th>
                <td>Somthing</td>
            </tr>
                        
        </thead>
    </table>
</div>

<form class="ui form" action="" method="POST">
    {% csrf_token %}
    <div class="six fields">
        <div class="field"></div>
        <div class="field"></div>
        <div class="field">
            {% for radio in form.skill %}
            {{ radio }}
            {% endfor %}
        </div>
        <div class="field">
            <button class="ui green button">Submit</button>
        </div>
        <div class="field"></div>
        <div class="field"></div>
    </div>
</form>

<script type="text/javascript">
        
    $(document).ready(function() {
        $('#tabledata').DataTable();
    
    } );
    
</script>
 {% endblock %}