{% extends "profiles/sidebar_training.html" %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
</div>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Unclassified</a>
    <a class="item" data-tab="second">Classified</a>
    <a class="item" data-tab="third">On-Training</a>
    <a class="item" data-tab="fourth">Trained</a>
</div>
<div class="ui tab segment active" data-tab="first">
<center>
    <div class="ui three statistics">
  <div class="statistic">
    <div class="value">
      {{NDD_count}} / {{NDD_demand}}
    </div>
    <div class="label">
      NDD
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{EDD_count}} / {{EDD_demand}}
    </div>
    <div class="label">
      EDD
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{SAR_count}} / {{SAR_demand}}
    </div>
    <div class="label">
      SAR
    </div>
  </div>
</div>
</center>

    <table id="tabledata1" class="ui seven column celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Classification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for data_unclassified in data_unclassified %}
            <tr>
                <td>{{data_unclassified.name}}</td>
                <td >{{data_unclassified.breed}}</td>
                <td>{{data_unclassified.color}}</td>
                <td >{{data_unclassified.sex}}</td>
                <td>{{data_unclassified.age}}</td>
                {% if data_unclassified.capability == "None" %}
                    <td>Unassigned</td>
                {% else %}
                    <td>{{data_unclassified.capability}}</td>
                {% endif %}
                <td style="text-align:center;">
                    <a href="{% url 'training:classify_k9_select' data_unclassified.id %}" class = "tiny ui blue basic button">Select</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui tab segment" data-tab="second">
    <table id="tabledata2" class="ui seven column celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Classification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for data_classified in data_classified %}
            <tr>
                <td>{{data_classified.name}}</td>
                <td >{{data_classified.breed}}</td>
                <td>{{data_classified.color}}</td>
                <td >{{data_classified.sex}}</td>
                <td>{{data_classified.age}}</td>
                <td>{{data_classified.capability}}</td>
                <td style="text-align:center;">
                    <a href="{% url 'training:assign_k9_select' data_classified.id %}" class = "tiny ui blue basic button">Select</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui tab segment" data-tab="third">
<table id="tabledata3" class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Capability</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for data_ontraining in data_ontraining %}
        <tr>
            <td>{{data_ontraining.name}}</td>
            <td >{{data_ontraining.breed}}</td>
            <td>{{data_ontraining.color}}</td>
            <td >{{data_ontraining.sex}}</td>
            <td>{{data_ontraining.age}}</td>
            <td>{{data_ontraining.capability}}</td>
            <td style="width:25%;" class="ui center aligned">
              {% if data_ontraining.capability == 2%}
              <a href="{% url 'training:training_update_form' data_ontraining.id %}" class = "tiny ui blue basic button">Select</a>
              <a href="{% url 'training:classify_k9_select' data_ontraining.id %}" class = "tiny ui orange basic button reassign">Reassign</a>
              <a href="{% url 'training:fail_dog' data_ontraining.id %}" class = "tiny ui red basic button">Drop</a>
              {% else %}
              <a href="{% url 'training:training_update_form' data_ontraining.id %}" class = "tiny ui blue basic button">Select</a>
              <a href="{% url 'training:fail_dog' data_ontraining.id %}" class = "tiny ui red basic button">Drop</a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="ui tab segment" data-tab="fourth">
<table id="tabledata4" class="ui six column celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Sex</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for data_trained in data_trained %}
        <tr>
            <td>{{data_trained.name}}</td>
            <td >{{data_trained.breed}}</td>
            <td>{{data_trained.color}}</td>
            <td >{{data_trained.sex}}</td>
            <td>{{data_trained.age}}</td>
            <td style="text-align:center;">
                <a href="{% url 'training:serial_number_form' data_trained.id %}" class = "tiny ui blue basic button">Assign MC</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>



<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata1').DataTable();
        $('#tabledata2').DataTable();
        $('#tabledata3').DataTable();
        $('#tabledata4').DataTable();
        $('.menu .item').tab();
    });

</script>
 {% endblock %}
