{% extends "profiles/sidebar_training.html" %}
{% block content %}



   <form class = "ui form" action="{% url 'training:genealogy' %}" method="post">
       {% csrf_token %}
       SELECT K9 {{form.k9}}
       <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">Confirm</button>
   </form>

 {% if tree %}
 {{ tree|safe }}
{% endif %}

 {% if skill_in_general %}
 {{ skill_in_general|safe }}
{% endif %}

{% if skill_by_gender %}
 {{ skill_by_gender|safe }}
{% endif %}


 {% endblock %}