{% extends "profiles/sidebar_training.html" %}  

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<h1>Training Records</h1>

<script type="text/javascript">
        
    $(document).ready(function() {
        $('#tabledata').DataTable();
    
    } );
    
</script>
 {% endblock %}