{% extends "profiles/sidebar_training.html" %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<table class="ui four column celled table">
    <thead>
        <tr>
            <th>Serial Number</th>
            <td>{{data.serial_number}}</td>
            <th>Microchip</th>
            <td>{{data.microchip}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{data.name}}</td>
            <th>Breed</th>
            <td>{{data.breed}}</td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>{{data.sex}}</td>
            <th>Color</th>
            <td>{{data.color}}</td>
        </tr>
        <tr>
            <th>Birth Date</th>
            <td>{{data.birth_date}}</td>
            <th>Age</th>
            <td>{{data.age}}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{data.source}}</td>
            <th>Year Retired</th>
            {% if data.year_retired == None %}
            <td>Not Applicable</td>
            {%else%}
            <td>{{data.year_retired}}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Assignment</th>
            <td>{{data.assignment}}</td>
            <th>Capability</th>
            <td>{{data.capability}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{data.training_status}}</td>
            <th>Training Level</th>
            <td>{{data.training_level}}</td>
        </tr>
    </thead>
</table>

<div class="ui info message">
    <i class="close icon"></i>
    <div class="header">
        Clarrifications
    </div>
    <ul class="list">
        <li>A pending status indicates that the K9 has yet to complete the stage.</li>
    </ul>
</div>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">EDD</a>
    <a class="item" data-tab="second">NDD</a>
    <a class="item" data-tab="third">SAR</a>
</div>
<div class="ui tab segment active" data-tab="first">
    <div class="ui raised segment ">
        <div class="paragraph">
            <div class="medium line">
               <h4>Grade:
                   {% if edd.grade == '0' %}
                   <label class="ui big red circular label">{{edd.grade}}</label>
                   {% elif edd.grade == 'No Grade Yet' %}
                   <label class="ui big orange circular label">{{edd.grade}}</label>
                   {%else%}
                   <label class="ui big green circular label">{{edd.grade}}</label>
                   {% endif %}
               </h4>
            </div>
        </div>
    </div>
    <table class="ui three column celled table">
        <thead>
            <tr>
                <th>Stage 1.1</th>
                <th>Description of Stage</th>
                {% if edd.stage1_1 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 1.2</th>
                <th>Description of Stage</th>
                {% if edd.stage1_2 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 1.3</th>
                <th>Description of Stage</th>
                {% if edd.stage1_3 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 2.1</th>
                <th>Description of Stage</th>
                {% if edd.stage2_1 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 2.2</th>
                <th>Description of Stage</th>
                {% if edd.stage2_2 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 2.3</th>
                <th>Description of Stage</th>
                {% if edd.stage1_3 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 3.1</th>
                <th>Description of Stage</th>
                {% if edd.stage3_1 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 3.2</th>
                <th>Description of Stage</th>
                {% if edd.stage3_2 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
            <tr>
                <th>Stage 3.3</th>
                <th>Description of Stage</th>
                {% if edd.stage3_3 == True %}
                <td>Passed</td>
                {%elif edd.grade == '0'%}
                <td>Failed</td>
                {%else%}
                <td>Pending</td>
                {% endif %}
            </tr>
        </thead>
    </table>
    <label class="ui large teal circular label">Remarks</label>
    <div class="ui basic segment" style="padding:5px;margin-top: 0px;">
        <p style="padding:2px;">{{edd.remarks}}</p>
    </div>
</div>
<div class="ui tab segment" data-tab="second">
  <div class="ui raised segment ">
      <div class="paragraph">
          <div class="medium line">
             <h4>Grade:
                 {% if ndd.grade == '0' %}
                 <label class="ui big red circular label">{{ndd.grade}}</label>
                 {% elif ndd.grade == 'No Grade Yet' %}
                 <label class="ui big orange circular label">{{ndd.grade}}</label>
                 {%else%}
                 <label class="ui big green circular label">{{ndd.grade}}</label>
                 {% endif %}
             </h4>
          </div>
        </div>
  </div>
  <table class="ui three column celled table">
      <thead>
          <tr>
              <th>Stage 1.1</th>
              <th>Description of Stage</th>
              {% if ndd.stage1_1 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 1.2</th>
              <th>Description of Stage</th>
              {% if ndd.stage1_2 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 1.3</th>
              <th>Description of Stage</th>
              {% if ndd.stage1_3 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 2.1</th>
              <th>Description of Stage</th>
              {% if ndd.stage2_1 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 2.2</th>
              <th>Description of Stage</th>
              {% if ndd.stage2_2 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 2.3</th>
              <th>Description of Stage</th>
              {% if ndd.stage1_3 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 3.1</th>
              <th>Description of Stage</th>
              {% if ndd.stage3_1 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 3.2</th>
              <th>Description of Stage</th>
              {% if ndd.stage3_2 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 3.3</th>
              <th>Description of Stage</th>
              {% if ndd.stage3_3 == True %}
              <td>Passed</td>
              {%elif ndd.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
      </thead>
  </table>
  <label class="ui large teal circular label">Remarks</label>
  <div class="ui basic segment" style="padding:5px;margin-top: 0px;">
      <p style="padding:2px;">{{ndd.remarks}}</p>
  </div>
</div>
<div class="ui tab segment" data-tab="third">
  <div class="ui raised segment ">
      <div class="paragraph">
          <div class="medium line">
             <h4>Grade:
                 {% if sar.grade == '0' %}
                 <label class="ui big red circular label">{{sar.grade}}</label>
                 {% elif sar.grade == 'No Grade Yet' %}
                 <label class="ui big orange circular label">{{sar.grade}}</label>
                 {%else%}
                 <label class="ui big green circular label">{{sar.grade}}</label>
                 {% endif %}
             </h4>
          </div>
        </div>
  </div>
  <table class="ui three column celled table">
      <thead>
          <tr>
              <th>Stage 1.1</th>
              <th>Description of Stage</th>
              {% if sar.stage1_1 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 1.2</th>
              <th>Description of Stage</th>
              {% if sar.stage1_2 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 1.3</th>
              <th>Description of Stage</th>
              {% if sar.stage1_3 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 2.1</th>
              <th>Description of Stage</th>
              {% if sar.stage2_1 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 2.2</th>
              <th>Description of Stage</th>
              {% if sar.stage2_2 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 2.3</th>
              <th>Description of Stage</th>
              {% if sar.stage1_3 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 3.1</th>
              <th>Description of Stage</th>
              {% if sar.stage3_1 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 3.2</th>
              <th>Description of Stage</th>
              {% if sar.stage3_2 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
          <tr>
              <th>Stage 3.3</th>
              <th>Description of Stage</th>
              {% if sar.stage3_3 == True %}
              <td>Passed</td>
              {%elif sar.grade == '0'%}
              <td>Failed</td>
              {%else%}
              <td>Pending</td>
              {% endif %}
          </tr>
      </thead>
  </table>
  <label class="ui large teal circular label">Remarks</label>
  <div class="ui basic segment" style="padding:5px;margin-top: 0px;">
      <p style="padding:2px;">{{sar.remarks}}</p>
  </div>
</div>

<div class="ui basic segment">
    <a href="{% url 'training:training_records'%}" class="ui blue button">Back</a>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata').DataTable();
        $('.menu .item').tab();
    });

</script>
{% endblock %}
