{% extends "profiles/sidebar_inventory.html" %}  

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="ui green message" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<table id="tabledata" class="ui celled table responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Dog Food</th>
            <th>Type</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td style="width:300px;" >{{ data.food }}</td>
                <td style="width:100px;">{{ data.foodtype }}</td>
                <td>{{ data.description }}</td>
                <td class="center aligned" style="width:100px;">
                    <a href="{% url 'inventory:food_edit' data.id %}" style="margin-right:10px;">
                        <i class="blue edit icon"></i>
                    </a>
                    <a onclick="return confirm('Are you sure?')" class = "button"   href="{% url 'inventory:food_delete' data.id %}">
                        <i class="red trash alternate icon"></i>
                    </a>
                           
                </td>       
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
               
        $(document).ready(function() {
	        $('#tabledata').DataTable();
               
            //  $(function() {
            //     $( ".message" ).slideUp( 4000, function() {
            //         // Animation complete.
            //     });
            // });
        } );
        
    </script>
 {% endblock %}