{% extends "profiles/sidebar_um.html" %}
{% load static %}
{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="{{style}}" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="ui raised segment">
    <center>
            <img src="{{k9.image.url}}" alt="" width="280"> 
    </center>
   <table class="ui six column teal celled table">
       <thead>
            <tr>
                <th>Name</th>
                <td>{{k9.name}}</td>
                <th>Capability</th>
                <td>{{k9.capability}}</td>
                <th>Age</th>
                <td>{{k9.age}}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{k9.sex}}</td>
                <th>Breed</th>
                <td>{{k9.breed}}</td>
                <th>Source</th>
                <td>{{k9.source}}</td>
            </tr>
       </thead>

   </table>
</div>

<table id="tabledata1" class="ui six column celled table">
        <thead>
            <tr>
                <th>Handler</th>
                <th>Sex</th>
                <th>Age</th>
                <th>City</th>
                <th>{{k9.capability}} Handled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for data1, data2, data3 in zippedList %}
            <tr>
                <td>{{data1.fullname}}</td>
                <td>{{data1.gender}}</td>
                <td>{{data1.age}}</td>
                <td>{{data2.city}}</td>
                <td>{{data3}}</td>
                <td style="text-align:center;">
                    <a class="ui tiny blue button" href="{% url 'unitmanagement:choose_handler' data1.id %}">Choose</a>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>


<script type="text/javascript">
        
    $(document).ready(function() {
        $('.menu .item').tab();
        $('#tabledata1').DataTable( {
        "order": [[ 4, "desc" ]]
        });
    });
    
</script>

{% endblock %}
