{% extends "profiles/sidebar_um.html" %}

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}</h3>

    {% if messages %}
        {% for message in messages %} 
        <div class="ui green message" > {{ message }}</div>        
        {% endfor %}
    {% endif %}

</div>
<div class="ui segment">
    <table id="tabledata1" class="ui celled table">
        <thead class="center aligned">
            <tr>
                <th class="two wide">Retired Date</th>
                <th class="three wide">K9</th>
                <th>Port</th>
                <th class="two wide">Age (yrs & mons)</th>
                <th class="two wide">Age (days)</th>
                <th class="two wide"></th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
            </tr>
                <td>{{data.year_retired|date:'Y-m-d'}}</td>
                <td>{{data}}</td>
                <td >{{data.assignment}}</td>
                <td>{{data.age}} years and {{data.month_remainder}} months</td>
                <td>{{data.age_days}}</td>
                <td style="text-align:center;" class="two wide">
                    <a href="{% url 'unitmanagement:due_retired_call' data.id %}" class="ui tiny basic red button">Call Back</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script type="text/javascript">

    $('#tabledata1').DataTable({
        "order": [[ 4, "asc" ],[ 3, "asc" ],[ 0, "asc" ]]
    });
    $('.menu .item').tab();


</script>
 {% endblock %}
