{% extends "profiles/sidebar_um.html" %}  

{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}{{ name }} as of {{date}}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="{{style}}" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<div class="ui segment">
    <div class="ui raised segment">
        <table class="ui collapse green celled table">
            <thead>
                <tr>
                    <th class="two wide">K9</th>
                    <td>{{data.dog}}</td>
                    <th class="two wide">Reported by:</th>
                    <td>{{data.incident_id.reported_by}}</td>
                    <th class="two wide">Reported on:</th>
                    <td>{{data.incident_id.date}}</td>
                </tr>
                <tr>
                    <th>Veterinarian:</th>
                    <td>{{data.veterinary}}</td>
                    <th>Prescribed on:</th>
                    <td>{{data.date}}</td>
                    <th>Duration:</th>
                    <td>{{data.duration}}</td>
                </tr>
            </thead>
        </table>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th class="two wide">Problem:</th>
                    <td class="fourteen wide">{{data.problem}}</td>
                </tr>
                <tr>
                    <th>Treatment:</th>
                    <td>{{data.treatment}}</td>
                </tr>
            </thead>
        </table>
    </div>

    <table class="ui inverted green celled table" id = 'tabledata'>
        <thead>
          <th>Medicine</th>
          <th>Quantity</th>
          <th>Time of Day</th>
          <th>Duration (Days)</th>  
        </thead>
        <tbody>
            {% for data in medicine%}
            <tr>
                <td>{{data.medicine}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.time_of_day}}</td>
                <td>{{data.duration}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <center>
        <a href="" class="ui blue button">Follow Up</a>
    </center>
    
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata').DataTable();

        $(function() {
            var res = $('#status').text();
            if($('#status').text()=='Approved'){
               $('#approve_btn').prop('disabled', true);
            }
        });

    } );
    
</script>
 {% endblock %}