{% extends "profiles/sidebar_um.html" %}
{% load static %}
{% block content %}
<div class="ui inverted segment" style="padding:20px;">
    <h3 class="ui header">{{ title }}{{ name }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="{{style}}" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<div class="ui top attached tabular menu">
    <a class="item{{active_1}}" data-tab="first">Preventive Health Program</a>
    <a class="item{{active_2}}" data-tab="second">Physical Exam</a>
    <a class="item{{active_3}}" data-tab="third">Health</a>
</div>
<div class="ui tab segment{{active_1}}" data-tab="first">
        {%if data.source == 'Procured' %}
        <div class="ui info message">
            <ul class="list">
                <li>This K9 was Procured, all vaccinations are intially Done.</li>
            </ul>
        </div>
        {%endif%}   

        <form class="ui form" method="POST">
        {% csrf_token %}
        <input id = 'dog_days' type="hidden" value="{{dog_days.days}}">

        <table class="ui celled table">
            <thead>
            <tr>
                <th class="two wide">K9 Age</th>
                <th class="four wide">Preventive Measure</th>
                
                {%if data.source == 'Breeding' %}

                <th >Vaccine/Prevention Used</th>
                <th >Date Vaccinated</th>
                <th >Stamp Image</th>
                <th >Veterinarian</th>
                
                {% endif %}
            </tr>
            </thead>
            <tbody>
                <tr>
                <td>2 Weeks</td>
                <td>1st Deworming</td>
                {%if data.source == 'Breeding' %}
                    {%if data_deworming_1.date_vaccinated %}
                    <td>{{data_deworming_1.vaccine}}</td>
                    <td>{{data_deworming_1.date_vaccinated}}</td>
                    <td>{{data_deworming_1.image}}</td>
                    <td>{{data_deworming_1.veterinary}}</td>
                    {%else%}
                        <td>
                            <select name="s_deworming_1" id="s_deworming_1" class="ui fluid search dropdown">
                                <option value="">----------</option>
                                {% for vaccine in vaccine_available %}
                                <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {{form2.date_vaccinated}}
                        </td>
                        <td>
                            {{form2.image}}
                        </td>
                        <td></td>
                    {%endif%}
                {% endif %}
                </tr>
                <tr>
                <td>4 Weeks</td>
                <td>2nd Deworming</td>
                {%if data.source == 'Breeding' %}
                    {%if data_deworming_2.date_vaccinated %}
                    <td>{{data_deworming_2.vaccine}}</td>
                    <td>{{data_deworming_2.date_vaccinated}}</td>
                    <td>{{data_deworming_2.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_deworming_2" id="s_deworming_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                {%endif%}
                </tr>
                <tr>
                <td>6 Weeks</td>
                <td>3rd Deworming</td>
                {%if data.source == 'Breeding' %}
                    {%if data_deworming_3.date_vaccinated %}
                    <td>{{data_deworming_3.vaccine}}</td>
                    <td>{{data_deworming_3.date_vaccinated}}</td>
                    <td>{{data_deworming_3.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_deworming_3" id="s_deworming_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                {%endif%}
                </tr>
                <tr>
                <td>6 Weeks</td>
                <td>1st dose DHPPiL+CV Vaccination</td>
                {%if data.source == 'Breeding' %}
                    {%if data_dhppil_cv_1.date_vaccinated %}
                    <td>{{data_dhppil_cv_1.vaccine}}</td>
                    <td>{{data_dhppil_cv_1.date_vaccinated}}</td>
                    <td>{{data_dhppil_cv_1.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_dhppil_cv_1" id="s_dhppil_cv_1" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                {%endif%}
                </tr>
                <tr> <td>6 Weeks</td>
                <td>1st Heartworm Prevention</td>
                {%if data.source == 'Breeding' %}
                    {%if data_heartworm_1.date_vaccinated %}
                    <td>{{data_heartworm_1.vaccine}}</td>
                    <td>{{data_heartworm_1.date_vaccinated}}</td>
                    <td>{{data_heartworm_1.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_1" id="s_heartworm_1" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                {% endif %}
                </tr>
                <tr> <td>8 Weeks</td>
                <td>1st dose Bordetella Bronchiseptica Bacterin</td>
                {%if data.source == 'Breeding' %}
                {%if data_bordetella_1.date_vaccinated %}
                <td>{{data_bordetella_1.vaccine}}</td>
                <td>{{data_bordetella_1.date_vaccinated}}</td>
                <td>{{data_bordetella_1.veterinary}}</td>
                {%else%}
                <td>
                    <select name="s_bordetella_1" id="s_bordetella_1" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccine_available %}
                        <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {{form2.date_vaccinated}}
                </td>
                <td>
                    {{form2.image}}
                </td>
                <td></td>
                {%endif%}
                {%endif%}
                <tr> <td>8 Weeks</td>
                    <td>1st Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_1.date_vaccinated %}
                    <td>{{data_tick_flea_1.vaccine}}</td>
                    <td>{{data_tick_flea_1.date_vaccinated}}</td>
                    <td>{{data_tick_flea_1.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_1" id="s_tick_flea_1" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>9 Weeks</td>
                    <td>2nd dose DHPPiL+CV</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_dhppil_cv_2.date_vaccinated %}
                    <td>{{data_dhppil_cv_2.vaccine}}</td>
                    <td>{{data_dhppil_cv_2.date_vaccinated}}</td>
                    <td>{{data_dhppil_cv_2.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_dhppil_cv_2" id="s_dhppil_cv_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>9 Weeks</td>
                    <td>4th Deworming</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_deworming_4.date_vaccinated %}
                    <td>{{data_deworming_4.vaccine}}</td>
                    <td>{{data_deworming_4.date_vaccinated}}</td>
                    <td>{{data_deworming_4.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_deworming_4" id="s_deworming_4" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>10 Weeks</td>
                    <td>2nd Heartworm Prevention</td>
                    {%if data.source == 'Breeding' %} 
                    {%if data_heartworm_2.date_vaccinated %}
                    <td>{{data_heartworm_2.vaccine}}</td>
                    <td>{{data_heartworm_2.date_vaccinated}}</td>
                    <td>{{data_heartworm_2.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_2" id="s_heartworm_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>11 Weeks</td>
                    <td>2nd dose Bordetella Bronchiseptica Bacterin</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_bordetella_2.date_vaccinated %}
                    <td>{{data_bordetella_2.vaccine}}</td>
                    <td>{{data_bordetella_2.date_vaccinated}}</td>
                    <td>{{data_bordetella_2.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_bordetella_2" id="s_bordetella_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>12 Weeks</td>
                    <td>Anti-Rabies Vaccination</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_anti_rabies.date_vaccinated %}
                    <td>{{data_anti_rabies.vaccine}}</td>
                    <td>{{data_anti_rabies.date_vaccinated}}</td>
                    <td>{{data_anti_rabies.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_anti_rabies" id="s_anti_rabies" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>12 Weeks</td>
                    <td>2nd Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_2.date_vaccinated %}
                    <td>{{data_tick_flea_2.vaccine}}</td>
                    <td>{{data_tick_flea_2.date_vaccinated}}</td>
                    <td>{{data_tick_flea_2.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_2" id="s_tick_flea_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>12 Weeks</td>
                    <td>3rd dose DHPPiL+CV Vaccination</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_dhppil_cv_3.date_vaccinated %}
                    <td>{{data_dhppil_cv_3.vaccine}}</td>
                    <td>{{data_dhppil_cv_3.date_vaccinated}}</td>
                    <td>{{data_dhppil_cv_3.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_dhppil_cv_3" id="s_dhppil_cv_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>14 Weeks</td>
                    <td>3rd Heartworm Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_heartworm_3.date_vaccinated %}
                    <td>{{data_heartworm_3.vaccine}}</td>
                    <td>{{data_heartworm_3.date_vaccinated}}</td>
                    <td>{{data_heartworm_3.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_3" id="s_heartworm_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>15 Weeks</td>
                    <td>1st dose DHPPiL4 Vaccination</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_dhppil4_1.date_vaccinated %}
                    <td>{{data_dhppil4_1.vaccine}}</td>
                    <td>{{data_dhppil4_1.date_vaccinated}}</td>
                    <td>{{data_dhppil4_1.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_dhppil4_1" id="s_dhppil4_1" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>16 Weeks</td>
                    <td>3rd Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_3.date_vaccinated %}
                    <td>{{data_tick_flea_3.vaccine}}</td>
                    <td>{{data_tick_flea_3.date_vaccinated}}</td>
                    <td>{{data_tick_flea_3.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_3" id="s_tick_flea_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>18 Weeks</td>
                    <td>2nd dose DHPPiL4 Vaccination</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_dhppil4_2.date_vaccinated %}
                    <td>{{data_dhppil4_2.vaccine}}</td>
                    <td>{{data_dhppil4_2.date_vaccinated}}</td>
                    <td>{{data_dhppil4_2.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_dhppil4_2" id="s_dhppil4_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>18 Weeks</td>
                    <td>4th Heartworm Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_heartworm_4.date_vaccinated %}
                    <td>{{data_heartworm_4.vaccine}}</td>
                    <td>{{data_heartworm_4.date_vaccinated}}</td>
                    <td>{{data_heartworm_4.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_4" id="s_heartworm_4" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>20 Weeks</td>
                    <td>4th Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_4.date_vaccinated %}
                    <td>{{data_tick_flea_4.vaccine}}</td>
                    <td>{{data_tick_flea_4.date_vaccinated}}</td>
                    <td>{{data_tick_flea_4.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_4" id="s_tick_flea_4" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                   <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>22 Weeks</td>
                    <td>5th Heartworm Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_heartworm_5.date_vaccinated %}
                    <td>{{data_heartworm_5.vaccine}}</td>
                    <td>{{data_heartworm_5.date_vaccinated}}</td>
                    <td>{{data_heartworm_5.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_5" id="s_heartworm_5" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>24 Weeks</td>
                    <td>5th Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_5.date_vaccinated %}
                    <td>{{data_tick_flea_5.vaccine}}</td>
                    <td>{{data_tick_flea_5.date_vaccinated}}</td>
                    <td>{{data_tick_flea_5.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_5" id="s_tick_flea_5" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>26 Weeks</td>
                    <td>6th Heartworm Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_heartworm_6.date_vaccinated %}
                    <td>{{data_heartworm_6.vaccine}}</td>
                    <td>{{data_heartworm_6.date_vaccinated}}</td>
                    <td>{{data_heartworm_6.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_6" id="s_heartworm_6" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                   <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}

                </tr>
                <tr> <td>28 Weeks</td>
                    <td>6th Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_6.date_vaccinated %}
                    <td>{{data_tick_flea_6.vaccine}}</td>
                    <td>{{data_tick_flea_6.date_vaccinated}}</td>
                    <td>{{data_tick_flea_6.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_6" id="s_tick_flea_6" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>30 Weeks</td>
                    <td>7th Heartworm Prevention</td>
                    {%if data_heartworm_7.date_vaccinated %}
                    <td>{{data_heartworm_7.vaccine}}</td>
                    <td>{{data_heartworm_7.date_vaccinated}}</td>
                    <td>{{data_heartworm_7.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_7" id="s_heartworm_7" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}
                </tr>
                <tr> <td>32 Weeks</td>
                    <td>7th Tick and Flea Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_tick_flea_7.date_vaccinated %}
                    <td>{{data_tick_flea_7.vaccine}}</td>
                    <td>{{data_tick_flea_7.date_vaccinated}}</td>
                    <td>{{data_tick_flea_7.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_tick_flea_7" id="s_tick_flea_7" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}   
                </tr>
                <tr> <td>34 Weeks</td>
                    <td>8th Heartworm Prevention</td>
                    {%if data.source == 'Breeding' %}
                    {%if data_heartworm_8.date_vaccinated %}
                    <td>{{data_heartworm_8.vaccine}}</td>
                    <td>{{data_heartworm_8.date_vaccinated}}</td>
                    <td>{{data_heartworm_8.veterinary}}</td>
                    {%else%}
                    <td>
                        <select name="s_heartworm_8" id="s_heartworm_8" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccine_available %}
                            <option value="{{vaccine.medicine.medicine}}">{{vaccine.medicine.medicine}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{form2.date_vaccinated}}
                    </td>
                    <td>
                        {{form2.image}}
                    </td>
                    <td></td>
                    {%endif%}
                    {%endif%}   
                </tr>
            </tbody>
            </table>
        <div class="ui very basic center aligned segment" style="padding: 0px;">
            {%if data.source == 'Breeding' %}
            <button onclick="return confirm('Are you sure?')" class = "ui button green" type="submit" >{{ actiontype }}</button>
            {%endif%}   
        </div>
    </form>
</div>
<div class="ui tab segment{{active_2}}" data-tab="second">
    <table id="tabledata2" class="ui three column celled table">
        <thead>
            <tr>
                <th>Exam Date</th>
                <th>Next Exam Date</th>
                <th>Veterinarian</th>
            </tr>
        </thead>
        <tbody>
            {% for phyexam_data in phyexam_data %}
              {%if phyexam_data.date < dtoday %}
              <tr class="negative">
                  <td>
                      <a href="{% url 'unitmanagement:physical_exam_details' phyexam_data.id %}">{{phyexam_data.date}}</a>
                  </td>
                  <td >{{phyexam_data.date_next_exam}}</td>
                  <td >{{phyexam_data.veterinary}}</td>
              </tr>
              {%else%}
              <tr>
                  <td>
                      <a href="{% url 'unitmanagement:physical_exam_details' phyexam_data.id %}">{{phyexam_data.date}}</a>
                  </td>
                  <td >{{phyexam_data.date_next_exam}}</td>
                  <td >{{phyexam_data.veterinary}}</td>
              </tr>
              {%endif%}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui tab segment{{active_3}}" data-tab="third">
    <table id="tabledata1" class="ui three column celled table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Duration</th>
                <th class="center aligned">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for health_data in health_data %}
            <tr>
                <td>
                    <a href="{% url 'unitmanagement:health_details' health_data.id %}">{{health_data.date}}</a>
                </td>
                <td>{{health_data.duration}}</td>
                {% if health_data.status == "Approved" %}
                <td class="center aligned positive three column wide">
                    <i class="icon checkmark"></i>{{health_data.status}}
                </td>
                {% else %}
                    <td class="center aligned warning three column wide">
                        <i class="hourglass half icon"></i>{{health_data.status}}
                    </td>
                {% endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'js/health_history.js' %}"></script>
{% endblock %}
