{% if data_load %}

{% load static %}
{% block content %}
<div class="header">{{data_load.date}}</div>
<div class="image content">
  <img class="image" src="{% static 'images/qwe3.jpg' %}" style="max-width: 300px;max-height: 250px;">
  <div class="description">
    <p id = 'data_1'>{{data_load.description}}</p>
  </div>

</div>

<div class="ui segment">
    <form method="POST" class="ui form">
        <div class="field">
          <label>Death Date</label>
          {{form.death_date}}
        </div>
        <div class="field">
          <label>Death Certificate</label>
          {{form.death_cert}}
        </div>
      </form>
      <div class="ui basic segment">
          <center>
              <button class="ui red button">Died</button>
              <button class="ui green button">Recovered</button>
            </center>
      </div>
    
</div>

{% endblock %}

{% endif %}