{% extends "profiles/sidebar_um.html" %}  

{% block content %}
<ul>
  {% for notif in notif_data %}
  <li>{{notif}}</li>
  {% endfor %}
</ul>

<div class="load_data">
  {% if n %}
    <ul>
      {% for n in n %}
      <li>{{n}}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<input type="hidden" value="{{user.id}}" id = 'here'>
<script>
    var url = 'index';  
    var id = $("#here"). val();

    $.ajax({                       
      url: url,                    
      data: {
        'id': id       
      },
      success: function (data) {   
        $("#load_data").html(data);  
      }
    });

</script>

{% endblock%}