{% extends "profiles/sidebar_um.html" %}
{% load um_tags %}
{% load widget_tweaks %}
{% block content %}


<div class="ui segment" style="padding:20px;">
    <h1 class="ui header">Transfer Request
    <div class="sub header">Request to be transferred to a different port.</div>
    </h1>
</div>

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    <i class="question icon"></i>Requesting for Transfers
  </div>
  <ol class="ui ordered list">
    <li>Select a location you want to be transferred to.</li>
    <li>If you have atleast 2 years on duty and the port of request is available, you will be allowed to transfer.</li>
      <li>Handlers are not allowed to be deployed in their city of origin.</li>
      <li>Click on confirm button to complete transfer, you will be notified of your date of transfer.</li>
  </ol>
</div>






{% endblock %}