{% extends "profiles/sidebar_um.html" %}

{% block content %}
<div class="ui basic segment" style="margin-bottom:0px;">
    <h2 class="ui header">
        {{title}}
        <div class="sub header">Input data of Vaccination and other Preventive Measures Here</div>
    </h2>
    {% if messages %}
        {% for message in messages %}
            <div class="{{style}}" > {{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<div class="ui segment">
    <form class="ui form" method="POST">
        {% csrf_token %}
        <table class="ui celled table">
            <thead>
            <tr>
              <th class="two wide">K9 Age</th>
              <th >Preventive Measure</th>
              <th class="center aligned one wide">Status</th>
              <th >Vaccine/Prevention Used</th>
              <th >Date Vaccinated</th>
              <th >Veterinarian</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>2 Weeks</td>
                <td>1st Deworming</td>
                <td class="center aligned">{{form1.deworming_1}}</td>
                <td>
                    <select name="deworming_1" id="deworming_1" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccines %}
                        <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4 Weeks</td>
                <td>2nd Deworming</td>
                <td class="center aligned">{{form1.deworming_2}}</td>
                <td>  <select name="deworming_2" id="deworming_2" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccines %}
                        <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                        {% endfor %}
                    </select></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6 Weeks</td>
                <td>3rd Deworming</td>
                <td class="center aligned">{{form1.deworming_3}}</td>
                <td><select name="deworming_3" id="deworming_3" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccines %}
                        <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                        {% endfor %}
                    </select></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6 Weeks</td>
                <td>1st dose DHPPiL+CV Vaccination</td>
                <td class="center aligned">{{form1.dhppil_cv_1}}</td>
                <td><select name="dhppil_cv_1" id="dhppil_cv_1" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccines %}
                        <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                        {% endfor %}
                    </select></td>
                <td></td>
                <td></td>
              </tr>
              <tr> <td>6 Weeks</td>
                <td>1st Heartworm Prevention</td>
                <td class="center aligned">{{form1.heartworm_1}}</td>
                <td><select name="heartworm_1" id="heartworm_1" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccines %}
                        <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                        {% endfor %}
                    </select></td>
                <td></td>
                <td></td>
              </tr>
              <tr> <td>8 Weeks</td>
                <td>1st dose Bordetella Bronchiseptica Bacterin</td>
                <td class="center aligned">{{form1.bordetella_1}}</td>
                <td><select name="bordetella_1" id="bordetella_1" class="ui fluid search dropdown">
                        <option value="">----------</option>
                        {% for vaccine in vaccines %}
                        <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                        {% endfor %}
                    </select></td>
                <td></td>
                <td></td>
                </tr>
                <tr> <td>8 Weeks</td>
                    <td>1st Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_1}}</td>
                    <td><select name="tick_flea_1" id="tick_flea_1" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>9 Weeks</td>
                    <td>2nd dose DHPPiL+CV</td>
                    <td class="center aligned">{{form1.dhppil_cv_2}}</td>
                    <td><select name="dhppil_cv_2" id="dhppil_cv_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>9 Weeks</td>
                    <td>4th Deworming</td>
                    <td class="center aligned">{{form1.deworming_4}}</td>
                    <td><select name="deworming_4" id="deworming_4" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>10 Weeks</td>
                    <td>2nd Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_2}}</td>
                    <td><select name="heartworm_2" id="heartworm_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>11 Weeks</td>
                    <td>2nd dose Bordetella Bronchiseptica Bacterin</td>
                    <td class="center aligned">{{form1.bordetella_2}}</td>
                    <td><select name="bordetella_2" id="bordetella_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>12 Weeks</td>
                    <td>Anti-Rabies Vaccination</td>
                    <td class="center aligned">{{form1.anti_rabies}}</td>
                    <td><select name="anti_rabies" id="anti_rabies" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>12 Weeks</td>
                    <td>2nd Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_2}}</td>
                    <td><select name="tick_flea_2" id="tick_flea_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>12 Weeks</td>
                    <td>3rd dose DHPPiL+CV Vaccination</td>
                    <td class="center aligned">{{form1.dhppil_cv_3}}</td>
                    <td><select name="dhppil_cv_3" id="dhppil_cv_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>14 Weeks</td>
                    <td>3rd Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_3}}</td>
                    <td><select name="heartworm_3" id="heartworm_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>15 Weeks</td>
                    <td>1st dose DHPPiL4 Vaccination</td>
                    <td class="center aligned">{{form1.dhppil4_1}}</td>
                    <td><select name="dhppil4_1" id="dhppil4_1" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>16 Weeks</td>
                    <td>3rd Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_3}}</td>
                    <td><select name="tick_flea_3" id="tick_flea_3" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>18 Weeks</td>
                    <td>2nd dose DHPPiL4 Vaccination</td>
                    <td class="center aligned">{{form1.dhppil4_2}}</td>
                    <td><select name="dhppil4_2" id="dhppil4_2" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>18 Weeks</td>
                    <td>4th Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_4}}</td>
                    <td><select name="heartworm_4" id="heartworm_4" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>20 Weeks</td>
                    <td>4th Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_4}}</td>
                    <td><select name="tick_flea_4" id="tick_flea_4" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>22 Weeks</td>
                    <td>5th Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_5}}</td>
                    <td><select name="heartworm_5" id="heartworm_5" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>24 Weeks</td>
                    <td>5th Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_5}}</td>
                    <td><select name="tick_flea_5" id="tick_flea_5" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>26 Weeks</td>
                    <td>6th Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_6}}</td>
                    <td><select name="heartworm_6" id="heartworm_6" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>28 Weeks</td>
                    <td>6th Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_6}}</td>
                    <td><select name="tick_flea_6" id="tick_flea_6" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>30 Weeks</td>
                    <td>7th Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_7}}</td>
                    <td><select name="heartworm_7" id="heartworm_7" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>32 Weeks</td>
                    <td>7th Tick and Flea Prevention</td>
                    <td class="center aligned">{{form1.tick_flea_7}}</td>
                    <td><select name="tick_flea_7" id="tick_flea_7" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> <td>34 Weeks</td>
                    <td>8th Heartworm Prevention</td>
                    <td class="center aligned">{{form1.heartworm_8}}</td>
                    <td><select name="heartworm_8" id="heartworm_8" class="ui fluid search dropdown">
                            <option value="">----------</option>
                            {% for vaccine in vaccines %}
                            <option value="{{vaccine.medicine_fullname}}">{{vaccine.medicine_fullname}}</option>
                            {% endfor %}
                        </select></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
          </table>
        <div class="ui very basic center aligned segment" style="padding: 0px;">
            <button onclick="return confirm('Are you sure?')" class = "ui button green" type="submit" >{{ actiontype }}</button>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata').DataTable();

    } );

</script>
 {% endblock %}
