{% extends "profiles/sidebar_pa.html" %} {% block content %}
{% load index %}

<h2 class="ui header">
 {{Title}}
  <div class="sub header">Input K9 breeding data here</div>
</h2>

<div class="ui ordered steps">
  <div class="active step">
    <div class="content">
      <div class="title">K9 Parents Form</div>
      <div class="description">Select K9 Parents</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">Confirm Parents</div>
      <div class="description">Verify selected parents</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">Offspring Form</div>
      <div class="description">Provide K9 offspring data</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">Confirm Breeding</div>
      <div class="description">Verify breeding details</div>
    </div>
  </div>
</div>
 {% if messages %}
        {% for message in messages %}
            <div class="{{ style }} row"> {{ message }}</div>
        {% endfor %}
    {% endif %}
<form class = "ui form" action="{% url 'planningandacquiring:add_K9_parents_form' %}" method="post">

  {% csrf_token %}

    <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Mother</a>
    <a class="item" data-tab="second">Father</a>
</div>

    <div class="ui tab segment active" data-tab="first">
    <table id="tabledata1" class="ui five column inverted pink celled table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Age</th>

            </tr>
        </thead>

        <tbody>

              {% for radio in form.mother %}
            <tr>
                <td>  <div class="ui radio checkbox"> {{radio.tag}} </div> </td>
                <td>{{mothers|name:forloop.counter0 }}</td>
                <td>{{mothers|breed:forloop.counter0 }}</td>
                <td>{{mothers|color:forloop.counter0 }}</td>
                <td>{{mothers|age:forloop.counter0 }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="ui tab segment " data-tab="second">
    <table id="tabledata2" class="ui five column inverted blue celled table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                 <th>Breed</th>
                <th>Color</th>
                <th>Age</th>

            </tr>
        </thead>

        <tbody>

              {% for radio in form.father %}
            <tr>
                <td> <div class="ui radio checkbox">{{radio.tag}}</div> </td>
                <td>{{fathers|name:forloop.counter0 }}</td>
                <td>{{fathers|breed:forloop.counter0 }}</td>
                <td>{{fathers|color:forloop.counter0 }}</td>
                <td>{{fathers|age:forloop.counter0 }}</td>

            </tr>
         {% endfor %}
        </tbody>
    </table>
    </div>


  <div class="ui center aligned segment" style="padding: 0px;">
        <button id = "submit" class = "ui button green" type="submit" >Next Step</button>
    </div>

</form>

<script type="text/javascript">

	$(document).ready(function() {
		$('#tabledata1').DataTable();
		$('#tabledata2').DataTable();
		$('.menu .item').tab();
	});

    $('.ui.radio.checkbox')
    .checkbox()
      ;
</script>

{% endblock %}
