{% extends "profiles/sidebar_pa.html" %}
{% block content %}


   <form class = "ui form" action="{% url 'planningandacquiring:breeding_recommendation' %}" method="post">
       {% csrf_token %}
       SELECT K9 {{form}}
       <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">View Recommended Partners</button>
   </form>

     <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Breeding Matches by Skill</a>
        <a class="item" data-tab="second">Breeding Matches by Breed</a>
         <a class="item" data-tab="third">Breeding Matches by Breed and Skill</a>
    </div>

    <div class="ui tab segment active" data-tab="first">
    <table id="tabledata1" class="ui four column celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Age</th>

            </tr>
        </thead>

        <tbody>

                {% for k9 in k9_list_breed %}
            <tr>
                <td>{{k9.name}}</td>
                <td>{{k9.breed}}</td>
                <td>{{k9.color}}</td>
                <td>{{k9.age}}</td>
            </tr>
                {% endfor %}

        </tbody>
    </table>
    </div>

    <div class="ui tab segment " data-tab="second">
    <table id="tabledata2" class="ui four column celled table">
        <thead>
            <tr>
                <th>Name</th>
                 <th>Breed</th>
                <th>Color</th>
                <th>Age</th>

            </tr>
        </thead>

        <tbody>

                 {% for k9 in k9_list_skill %}
            <tr>
                <td>{{k9.name}}</td>
                <td>{{k9.breed}}</td>
                <td>{{k9.color}}</td>
                <td>{{k9.age}}</td>
            </tr>
                {% endfor %}

        </tbody>
    </table>
    </div>

    <div class="ui tab segment " data-tab="third">
    <table id="tabledata3" class="ui four column celled table">
        <thead>
            <tr>
                <th>Name</th>
                 <th>Breed</th>
                <th>Color</th>
                <th>Age</th>

            </tr>
        </thead>

        <tbody>

        {% for k9 in k9_list_breed_skill %}
            <tr>
                <td>{{k9.name}}</td>
                <td>{{k9.breed}}</td>
                <td>{{k9.color}}</td>
                <td>{{k9.age}}</td>
            </tr>
         {% endfor %}

        </tbody>
    </table>
    </div>

<script type="text/javascript">

	$(document).ready(function() {
		$('#tabledata1').DataTable();
		$('#tabledata2').DataTable();
		$('#tabledata3').DataTable();
		$('.menu .item').tab();
	});


</script>

{% endblock %}