{% extends "profiles/sidebar_pa.html" %} {% block content %}
{% load um_tags %}
<h2 class="ui header">
 {{title}}
  <div class="sub header">View Suggested Budgeted Here</div>
</h2>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Medicine</a>
    <a class="item" data-tab="second">Vaccine</a>
     <a class="item" data-tab="third">Dog Food</a>
     <a class="item" data-tab="fourth">Equipment</a>
     <a class="item" data-tab="fifth">Vet Supply</a>
</div>

<form action="{% url 'planningandacquiring:budgeting' %}" method="POST">
    {% csrf_token %}

 <div class="ui tab segment active" data-tab="first">

    <div class="ui four statistics">
  <div class="ui small statistic">
    <div class="value">
      {{all_current_dogs}}
    </div>
    <div class="label">
      All Current Dogs
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{required_dogs}}
    </div>
    <div class="label">
      Additional Dogs Needed <br> for Deployment (Ports)
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{forecasted_dogs}}
    </div>
    <div class="label">
      Forecasted Dogs Required <br> for Requests
    </div>

      <button id = 'forecast_btn' class="ui blue button" type = "button">Toggle Forecast</button>
  </div>
        <div class="ui small statistic">
    <div class="value">
      {{recommended_dogs}}
    </div>
    <div class="label">
      Recommended Dogs to <br> Include in Budget
    </div>
  </div>

</div>


    <table id="tabledata1" class="ui four column celled table">
        <tr>
            <thead>
            <th>Medicine</th>
            <th>Current Quantity</th>
            <th>Forecasted Usage</th>
            <th>Price per Item</th>
            <th>Total Price</th>
            <th>Budget</th>
            </thead>
        </tr>
        <tbody>
        {% for form in medicine_formset.forms %}
        <tr>
            <td>{{medicine_name|list_item:forloop.counter0}}</td>
            <td>{{medicine_current|list_item:forloop.counter0}}</td>
            <td>{{medicine_forecast|list_item:forloop.counter0}}</td>
            <td>₱{{medicine_price|list_item:forloop.counter0}}</td>
            <td>₱{{medicine_total|list_item:forloop.counter0}}</td>
            <td>{{form.budget}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Subtotal:</strong> ₱	{{medicine_sub_total}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Grandtotal:</strong> ₱{{grand_total}}</td>
        </tr>
        </tbody>
        </table>
 </div>

<div class="ui tab segment" data-tab="second">

     <div class="ui four statistics">
  <div class="ui small statistic">
    <div class="value">
      {{all_current_dogs}}
    </div>
    <div class="label">
      All Current Dogs
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{required_dogs}}
    </div>
    <div class="label">
      Additional Dogs Needed <br> for Deployment (Ports)
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{forecasted_dogs}}
    </div>
    <div class="label">
      Forecasted Dogs Required <br> for Requests
    </div>
  </div>
        <div class="ui small statistic">
    <div class="value">
      {{recommended_dogs}}
    </div>
    <div class="label">
      Recommended Dogs to <br> Include in Budget
    </div>
  </div>

</div>


    <table id="tabledata2" class="ui four column celled table">
    <tr>
            <thead>
            <th>Vaccine</th>
            <th>Quantity Used Yearly</th>
            <th>Price per Item</th>
            <th>Total Price</th>
            <th>Budget</th>
            </thead>
        </tr>
         <tbody>
        {% for form in vaccine_formset.forms %}
        <tr>
            <td>{{vaccine_name|list_item:forloop.counter0}}</td>
            <td>{{vaccine_used_yearly|list_item:forloop.counter0}}</td>
            <td>₱{{vaccine_price|list_item:forloop.counter0}}</td>
             <td>₱{{vaccine_total|list_item:forloop.counter0}}</td>
            <td>{{form.budget}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Subtotal:</strong> ₱{{vaccine_sub_total}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Grandtotal:</strong> ₱{{grand_total}}</td>
        </tr>
        </table>
    </div>

<div class="ui tab segment" data-tab="third">

     <div class="ui four statistics">
  <div class="ui small statistic">
    <div class="value">
      {{all_current_dogs}}
    </div>
    <div class="label">
      All Current Dogs
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{required_dogs}}
    </div>
    <div class="label">
      Additional Dogs Needed <br> for Deployment (Ports)
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{forecasted_dogs}}
    </div>
    <div class="label">
      Forecasted Dogs Required <br> for Requests
    </div>
  </div>
        <div class="ui small statistic">
    <div class="value">
      {{recommended_dogs}}
    </div>
    <div class="label">
      Recommended Dogs to <br> Include in Budget
    </div>
  </div>

</div>

    <table id="tabledata3" class="ui four column celled table">
      <tr>
            <thead>
            <th>Dog Food</th>
            <th>Quantity Used Yearly (kg.)</th>
            <th>Price per kg. (MAX)</th>
            <th>Total Price</th>
            <th>Budget</th>
            </thead>
        </tr>
        <tr>
            <td>Adult Food</td>
            <td>{{adult_food_quantity}}</td>
             <td>₱{{adult_price}}</td>
            <td>₱{{adult_food_total}}</td>
            <td>{{food_form.budget_adult}}</td>
        </tr>
         <tr>
            <td>Puppy Food</td>
            <td>{{puppy_food_quantity}}</td>
             <td>₱{{puppy_price}}</td>
             <td>₱{{puppy_food_total}}</td>
             <td>{{food_form.budget_puppy}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Subtotal:</strong> ₱{{dog_food_sub_total}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Grandtotal:</strong> ₱{{grand_total}}</td>
        </tr>
        </table>
    </div>

<div class="ui tab segment" data-tab="fourth">

      <div class="ui four statistics">
  <div class="ui small statistic">
    <div class="value">
      {{all_current_dogs}}
    </div>
    <div class="label">
      All Current Dogs
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{required_dogs}}
    </div>
    <div class="label">
      Additional Dogs Needed <br> for Deployment (Ports)
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{forecasted_dogs}}
    </div>
    <div class="label">
      Forecasted Dogs Required <br> for Requests
    </div>
  </div>
        <div class="ui small statistic">
    <div class="value">
      {{recommended_dogs}}
    </div>
    <div class="label">
      Recommended Dogs to <br> Include in Budget
    </div>
  </div>

</div>

    <table id="tabledata4" class="ui four column celled table">
     <tr>
            <thead>
            <th>Equipment</th>
            <th>Number of Dogs</th>
            <th>Price per Item</th>
            <th>Total Price</th>
            <th>Budget</th>
            </thead>
        </tr>
        <tbody>
        {% for form in equipment_formset.forms %}
        <tr>
            <td>{{equipment_name|list_item:forloop.counter0}}</td>
            <td>{{equipment_quantity}}</td>
            <td>₱{{equipment_price|list_item:forloop.counter0}}</td>
            <td>₱{{equipment_total|list_item:forloop.counter0}}</td>
            <td>{{form.budget}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Subtotal:</strong> ₱{{equipment_sub_total}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Grandtotal:</strong>₱{{grand_total}}</td>
        </tr>
        </tbody>
        </table>
    </div>

<div class="ui tab segment" data-tab="fifth">

    <div class="ui four statistics">
  <div class="ui small statistic">
    <div class="value">
      {{all_current_dogs}}
    </div>
    <div class="label">
      All Current Dogs
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{required_dogs}}
    </div>
    <div class="label">
      Additional Dogs Needed <br> for Deployment (Ports)
    </div>
  </div>
  <div class="ui small statistic">
    <div class="value">
      {{forecasted_dogs}}
    </div>
    <div class="label">
      Forecasted Dogs Required <br> for Requests
    </div>
  </div>
        <div class="ui small statistic">
    <div class="value">
      {{recommended_dogs}}
    </div>
    <div class="label">
      Recommended Dogs to <br> Include in Budget
    </div>
  </div>


</div>

    <table id="tabledata5" class="ui four column celled table">
          <tr>
            <thead>
            <th>Vet Supply</th>
            <th>Quantity Used Yearly</th>
            <th>Price per Item</th>
            <th>Total Price</th>
            <th>Budget</th>
            </thead>
        </tr>
        <tbody>
        {% for form in vet_supply_formset.forms %}
        <tr>
            <td>{{vet_supply_name|list_item:forloop.counter0}}</td>
            <td>{{vet_supply_quantity}}</td>
            <td>₱{{vet_supply_price|list_item:forloop.counter0}}</td>
            <td>₱{{vet_supply_total|list_item:forloop.counter0}}</td>
            <td>{{form.budget}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Subtotal:</strong> ₱{{vet_supply_sub_total}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Grandtotal:</strong> ₱{{grand_total}}</td>
        </tr>
        </tbody>
        </table>
    </div>
<div class="ui right aligned segment" style="padding: 0px;" style="border-width: 0px;">
            <button class = "ui button green" type="submit" onclick="return confirm('Are you sure?')">Submit</button>
        </div>
    {{medicine_formset.management_form}}
    {{vaccine_formset.management_form}}
    {{equipment_formset.management_form}}
    {{vet_supply_formset.management_form}}

</form>

<script type="text/javascript">

	$(document).ready(function() {
		$('#tabledata1')
		$('#tabledata2')
		$('#tabledata3')
		$('#tabledata4')
		$('#tabledata5')
		$('.menu .item').tab();
	});

</script>

<div id = 'forecast'>
{% if graph %}
 {{ graph|safe }}
{% endif %}

<table class="ui celled table" >
<tr>
        <th>Model</th>

     {% for model in models %}
    <th>{{ model }}</th>
    {% endfor %}
</tr>
        <tr>
        <th>Error</th>
            {% for error in errors %}
    <td>{{ error }}</td>
    {% endfor %}
            </tr>

    <tr>
    <th>Forecast</th>
        {% for prediction in predictions %}
        {% if prediction <= 0%}
        <td class = "negative" data-tooltip="Forecast is not applicable!">{{ prediction }}</td>
        {% else %}
        <td>{{ prediction }}</td>
        {% endif %}
    {% endfor %}
    </tr>

    <div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
   <i class="question icon"></i>Information
  </div>
  <ul class="list">
    <li>Navigate through the graph by selecting the menu icons on the upper right of the screen.</li>
      <li>The lower the error percentage, the better the forecast.</li>
      <li>Select the forecast which you think is best!</li>
  </ul>
</div>

</table>

</div>

<script>
    $(document).ready(function(){
        $('#forecast').hide();

        $('#forecast_btn').on("click", function(e){
               $('#forecast').toggle();
         });
     });
</script>
{% endblock %}
