{% extends "profiles/sidebar_pa.html" %}
{% block content %}
{% load static %}
{% load um_tags %}
<center>
<img src="{% static 'images/k9_logo.png' %}" width="150">
    <br>BUDGETING REPORT
    <br>for {{year}}
</center>

<table id="tabledata1" class="ui eleven column celled table">
        <tr>
            <thead>
            <th>Medicine</th>
            <th>Price per Item (Previous Budget Bid)</th>
            <th>Price per Item (Current Budget Bid)</th>
            <th>Current Inventory Quantity</th>
            <th>Estimated Quantity (Current)</th>
            <th>Estimated Budget (Last Year's Estimate)</th>
            <th>Spendings (This Year)</th>
            <th>Estimated Budget (Current)</th>
            <th>Difference (Current Estimate - Spendings)</th>
            </thead>
        </tr>
    {% for med in recent_budget_medicine %}
        <tr>
            <td>
                {{med|get_medicine_name:forloop.counter0}}
            </td>
            <td style="text-align:right">
                 ₱{{med.price}}

            </td>
            <td style="text-align:right">
                ₱{{list_recent_budg_med_price|get_medicine_recent_price:forloop.counter0}}
            </td>
            <td>{{quantity_medicine|get_quantity_medicine:forloop.counter0}}</td>
            <td>{{med.quantity}}</td>
            <td style="text-align:right">₱{{med.total}}</td>
            <td style="text-align:right">₱{{medicine_spendings_list|get_quantity_spendings:forloop.counter0}}</td>
            <td style="text-align:right">₱{{recent_budget_medicine|recent_budget_medicine:forloop.counter0}}</td>
            <td style="text-align:right">₱{{med_difference_list|list_item:forloop.counter0}}</td>

        </tr>
    {% endfor %}

</table>

<table id="tabledata2" class="ui eleven column celled table">
        <tr>
            <thead>
            <th>Vaccine</th>
            <th>Price per Item (Previous Budget Bid)</th>
            <th>Price per Item (Current Budget Bid)</th>
            <th>Current Inventory Quantity</th>
            <th>Estimated Quantity (Current)</th>
            <th>Estimated Budget (Last Year's Estimate)</th>
            <th>Spendings (This Year)</th>
            <th>Estimated Budget (Current)</th>
            <th>Difference (Current Estimate - Spendings)</th>
            </thead>
        </tr>
    {% for vac in recent_budget_vaccine %}
        <tr>
            <td>
                {{vac|get_vaccine_name:forloop.counter0}}
            </td>
            <td style="text-align:right">
                 ₱{{vac.price}}

            </td>
            <td style="text-align:right">
                ₱{{list_recent_budg_vac_price|get_medicine_recent_price:forloop.counter0}}
            </td>
            <td>{{quantity_vaccine|get_quantity_medicine:forloop.counter0}}</td>
            <td>{{vac.quantity}}</td>
            <td style="text-align:right">₱{{vac.total}}</td>
            <td style="text-align:right">₱{{vaccine_spendings_list|get_quantity_spendings:forloop.counter0}}</td>
            <td style="text-align:right">₱{{recent_budget_vaccine|recent_budget_medicine:forloop.counter0}}</td>
            <td style="text-align:right">₱{{vac_difference_list|list_item:forloop.counter0}}</td>

        </tr>
    {% endfor %}

</table>

<table id="tabledata3" class="ui eleven column celled table">
        <tr>
            <thead>
            <th>Equipment</th>
            <th>Price per Item (Previous Budget Bid)</th>
            <th>Price per Item (Current Budget Bid)</th>
            <th>Current Inventory Quantity</th>
            <th>Estimated Quantity (Current)</th>
            <th>Estimated Budget (Last Year's Estimate)</th>
            <th>Spendings (This Year)</th>
            <th>Estimated Budget (Current)</th>
            <th>Difference (Current Estimate - Spendings)</th>
            </thead>
        </tr>
    {% for equipment in recent_budget_equipment %}
        <tr>
            <td>
                {{equipment|get_equipment_name:forloop.counter0}}
            </td>
            <td style="text-align:right">
                 ₱{{equipment.price}}

            </td>
            <td style="text-align:right">
                ₱{{list_recent_budg_equipment_price|get_medicine_recent_price:forloop.counter0}}
            </td>
            <td>{{equipment_objects|equipment_quantity:forloop.counter0}}</td>
            <td>{{equipment.quantity}}</td>
            <<td style="text-align:right">₱{{equipment.total}}</td>
            <td style="text-align:right">₱{{equipment_spendings_list|get_quantity_spendings:forloop.counter0}}</td>
            <td style="text-align:right">₱{{recent_budget_equipment|recent_budget_medicine:forloop.counter0}}</td>
            <td style="text-align:right">₱{{equipment_difference_list|list_item:forloop.counter0}}</td>

        </tr>
    {% endfor %}

</table>

<table id="tabledata4" class="ui eleven column celled table">
        <tr>
            <thead>
            <th>Vet Supply</th>
            <th>Price per Item (Previous Budget Bid)</th>
            <th>Price per Item (Current Budget Bid)</th>
            <th>Current Inventory Quantity</th>
            <th>Estimated Quantity (Current)</th>
            <th>Estimated Budget (Last Year's Estimate)</th>
            <th>Spendings (This Year)</th>
            <th>Estimated Budget (Current)</th>
            <th>Difference (Current Estimate - Spendings)</th>
            </thead>
        </tr>
    {% for vet in recent_budget_vet_supply %}
        <tr>
            <td>
                {{vet|get_vet_name:forloop.counter0}}
            </td>
            <td style="text-align:right">
                 ₱{{vet.price}}

            </td>
            <td style="text-align:right">
                ₱{{list_recent_budg_vet_price|get_medicine_recent_price:forloop.counter0}}
            </td>
            <td>{{vet_objects|equipment_quantity:forloop.counter0}}</td>
            <td>{{vet.quantity}}</td>
            <td style="text-align:right">₱{{vet.total}}</td>
            <td style="text-align:right">₱{{vet_spendings_list|get_quantity_spendings:forloop.counter0}}</td>
            <td style="text-align:right">₱{{recent_budget_vet_supply|recent_budget_medicine:forloop.counter0}}</td>
            <td style="text-align:right">₱{{vet_difference_list|list_item:forloop.counter0}}</td>

        </tr>
    {% endfor %}

</table>

<table id="tabledata5" class="ui eleven column celled table">
        <tr>
            <thead>
            <th>Food</th>
            <th>Price per Item (Previous Budget Bid)</th>
            <th>Price per Item (Current Budget Bid)</th>
            <th>Current Inventory Quantity</th>
            <th>Estimated Quantity (Current)</th>
            <th>Estimated Budget (Last Year's Estimate)</th>
            <th>Spendings (This Year)</th>
            <th>Estimated Budget (Current)</th>
            <th>Difference (Current Estimate - Spendings)</th>
            </thead>
        </tr>

        <tr>
            <td>
                Adult Dog Food
            </td>
            <td style="text-align:right">
                 ₱{{this_budget_adult.price}}
            </td>
            <td style="text-align:right">
                ₱{{current_budget_adult.price}}
            </td>
            <td>{{adult_quantity_sum}}</td>
            <td>{{current_budget_adult.quantity}}</td>
            <td style="text-align:right">₱{{this_budget_adult.total}}</td>
            <td style="text-align:right">₱{{adult_expense}}</td>
            <td style="text-align:right">₱{{current_budget_adult.total}}</td>
            <td style="text-align:right">₱{{difference_adult}}</td>

        </tr>

        <tr>
            <td>
                Puppy Dog Food
            </td>
            <td style="text-align:right">
                 ₱{{this_budget_puppy.price}}
            </td>
            <td style="text-align:right">
                ₱{{current_budget_puppy.price}}
            </td>
            <td>{{puppy_quantity_sum}}</td>
            <td>{{current_budget_puppy.quantity}}</td>
            <td style="text-align:right">₱{{this_budget_puppy.total}}</td>
            <td style="text-align:right">₱{{puppy_expense}}</td>
            <td style="text-align:right">₱{{current_budget_puppy.total}}</td>
            <td style="text-align:right">₱{{difference_puppy}}</td>

        </tr>

        <tr>
            <td>
                Milk
            </td>
            <td style="text-align:right">
                 ₱{{this_budget_milk.price}}
            </td>
            <td style="text-align:right">
                ₱{{current_budget_milk.price}}
            </td>
            <td>{{milk_quantity_sum}}</td>
            <td>{{current_budget_milk.quantity}}</td>
            <td style="text-align:right">₱{{this_budget_milk.total}}</td>
            <td style="text-align:right">₱{{milk_expense}}</td>
            <td style="text-align:right">₱{{current_budget_milk.total}}</td>
            <td style="text-align:right">₱{{difference_milk}}</td>

        </tr>


</table>

<table id="tabledata6" class="ui nine column celled table">
        <tr>
            <thead>
            <th>K9</th>
            <th>Price per Item (Previous Budget Bid)</th>
            <th>Price per Item (Current Budget Bid)</th>
            <th>Current Available K9s</th>
            <th>Estimated Quantity (Current)</th>
            <th>Estimated Budget (Last Year's Estimate)</th>
            <th>Spendings (This Year)</th>
            <th>Estimated Budget (Current)</th>
            <th>Difference (Current Estimate - Spendings)</th>
            </thead>
        </tr>
        <tbody>
        <tr>
            <td></td>
            <td style="text-align:right">₱{{previous_bid_k9}}</td>
            <td style="text-align:right">₱{{current_bid_k9}}</td>
            <td>{{all_current_k9}}</td>
            <td>{{current_quantity_k9}}</td>
            <td style="text-align:right">₱{{previous_total_k9}}</td>
            <td style="text-align:right">₱{{k9_expense}}</td>
            <td style="text-align:right">₱{{current_total_k9}}</td>
            <td style="text-align:right">₱{{k9_difference}}</td>
        </tr>

         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:right"><b>Grand Spending: ₱{{grandspendings}}</b></td>
            <td style="text-align:right"><b>Grand Total: ₱{{grandtotal}}</b></td>
             <td style="text-align:right"><b>Grand Difference: ₱{{granddiff}}</b></td>

        </tr>

        </tbody>

    </table>

<center>
    <br> End of Report
    <br> Prepared by: {{user}}
</center>

{% endblock %}
