{% extends "profiles/sidebar_pa.html" %}
{% block content %}


{% if graph %}
 {{ graph|safe }}
{% endif %}

<table class="ui celled table" >
<tr>
        <th>Model</th>

     {% for model in models %}
    <th>{{ model }}</th>
    {% endfor %}
</tr>
        <tr>
        <th>Error</th>
            {% for error in errors %}
    <td>{{ error }}%</td>
    {% endfor %}
            </tr>

    <tr>
    <th>Forecast</th>
        {% for prediction in predictions %}
        {% if prediction <= 0%}
        <td class = "negative" data-tooltip="Forecast is not applicable!">{{ prediction }}</td>
        {% else %}
        <td>{{ prediction }}</td>
        {% endif %}
    {% endfor %}
    </tr>

    <div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
   <i class="question icon"></i>Information
  </div>
  <ul class="list">
    <li>Navigate through the graph by selecting the menu icons on the upper right of the screen.</li>
      <li>The lower the error percentage, the better the forecast.</li>
      <li>Select the forecast which you think is best!</li>
  </ul>
</div>




</table>

 {% endblock %}