{% extends "profiles/sidebar_pa.html" %} {% block content %}
<h1 class="ui header">
    {{Title}}
    <div class="sub header">List of all K9s on record</div>
</h1>

        <Button class="ui blue button">Add Unaffiliated K9</Button>
<div class = "ui segment">

		<table id="tabledata" class="ui celled table">
        	<thead>
          	<tr>
              <th>Name</th>
              <th>Serial Number</th>
              <th>Breed</th>
              <th>Sex</th>
			  <th>Color</th>
              <th>Birthdate</th>
              <th>Age</th>
              <th>Year Retired</th>
              <th>Assignment</th>
			  <th>Microchip</th>
          	</tr>
    		</thead>
    		<tbody>
				{% for K9 in k9 %}
    				<tr>
    					<td><a  href="{% url 'planningandacquiring:K9_detail' K9.id %}">{{K9.name}}</a></td>
                        <td>{{ K9.serial_number }}</td>
    					<td>{{ K9.breed }}</td>
    					<td>{{ K9.sex }}</td>
						<td>{{ K9.color}}</td>
                        <td>{{ K9.birth_date}}</td>
                        <td>{{ K9.age}}</td>
                        <td>{{ K9.year_retired}}</td>
                        <td>{{ K9.assignment}}</td>
						<td>{{ K9.microchip}}</td>
    				</tr>
				{% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
	
	$(document).ready(function() {
		$('#tabledata').DataTable();
		$('.menu .item').tab();
	});
	
</script>
{% endblock %}