<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
<h3>{{Title}}</h3>

		<table>
        	<thead>
          	<tr>
              <th>Name</th>
              <th>Serial Number</th>
              <th>Breed</th>
              <th>Sex</th>
			  <th>Color</th>
              <th>Birthdate</th>
              <th>Age</th>
              <th>Year Retired</th>
              <th>Assignment</th>
              <th>Microchip</th>
          	</tr>
    		</thead>
    		<tbody>

			{% if k9 %}
				{% for K9 in k9 %}
    				<tr>
    					<td><a  href="{% url 'planningandacquiring:K9_detail' K9.id %}">{{K9}}</a></td>
                        <td>{{ K9.serial_number }}</td>
    					<td>{{ K9.breed }}</td>
    					<td>{{ K9.sex }}</td>
						<td>{{ K9.color}}</td>
                        <td>{{ K9.birth_date}}</td>
                        <td>{{ K9.age}}</td>
                        <td>{{ K9.year_retired}}</td>
                        <td>{{ K9.assignment}}</td>
                        <td>{{ K9.microchip}}</td>
    				</tr>
				{% endfor %}
			{% else %}
			<tr>
				<p>There are no K9s to display</p>
			</tr>

			{% endif %}

        </tbody>
    </table>

</body>
</html>