{% extends "profiles/sidebar_pa.html" %} {% block content %}
<h1 class="ui header">
    {{Title}}
    <div class="sub header">List of all K9s on record</div>
</h1>

<form action="{% url 'planningandacquiring:report' %}">
    <div class="two column fields">
        <div>
            <label for="">Date from</label>
            {{form.date_from}}
        </div>
        <div>
            <label for="">Date to</label>
            {{form.date_to}}
        </div>
    </div>
</form>
<script type="text/javascript">
	
	$(document).ready(function() {
		$('#tabledata').DataTable();
		$('.menu .item').tab();
	});
	
</script>
{% endblock %}