{% extends "profiles/sidebar_reports.html" %}
{% load humanize %}
{% load pa_tags %}

{% block content %}
{% if messages %}
<div class="ui inverted segment" style="padding:20px;">
    {% for message in messages %}
        <div class="ui green message" > {{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="ui segment">
        <center>
        <br><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Philippine_Coast_Guard_%28PCG%29.svg/220px-Philippine_Coast_Guard_%28PCG%29.svg.png" width="100">
        <br>Philippine Coast Guard
        <br>Maritime Security Command
            <br><b>HEADQUARTERS COAST GUARD K9 FORCE</b>
        <br>Coast Guard Base Taguig
        <br>#56 ML Quezon St. New Lower Bicutan, Taguig City
            <br>Training Report
            <br><b></b></center>


    <h3>Belgian Malinois</h3>
    <table class="ui celled table" id = ''>
        <tbody>
                <td><center><B>Passed SAR</B></center></td>
                <td><center><B>Passed NDD</B></center></td>
                <td><center><B>Passed EDD</B></center></td>
            </tr>
            <tr>
                <td>{{belgian_SAR}}</td>
                <td>{{belgian_NDD}}</td>
                <td>{{belgian_EDD}}</td>
            </tr>
        </tbody>
    </table>
    <div align="right"><h5>Total Number of Passed Belgian Malinois: {{total_belgian}}</h5></div>

        <h3>Dutch Sheperd</h3>
    <table class="ui celled table" id = ''>
        <tbody>
                <td><center><B>Passed SAR</B></center></td>
                <td><center><B>Passed NDD</B></center></td>
                <td><center><B>Passed EDD</B></center></td>
            </tr>
            <tr>
                <td>{{dutch_SAR}}</td>
                <td>{{dutch_NDD}}</td>
                <td>{{dutch_EDD}}</td>
            </tr>
        </tbody>
    </table>
    <div align="right"><h5>Total Number of Passed Dutch Sheperd: {{total_dutch}}</h5></div>

            <h3>German Sheperd</h3>
    <table class="ui celled table" id = ''>
        <tbody>
                <td><center><B>Passed SAR</B></center></td>
                <td><center><B>Passed NDD</B></center></td>
                <td><center><B>Passed EDD</B></center></td>
            </tr>
            <tr>
                <td>{{german_SAR}}</td>
                <td>{{german_NDD}}</td>
                <td>{{german_EDD}}</td>
            </tr>
        </tbody>
    </table>
    <div align="right"><h5>Total Number of Passed German Sheperd: {{total_german}}</h5></div>

            <h3>Golden Retriever</h3>
    <table class="ui celled table" id = ''>
        <tbody>
                <td><center><B>Passed SAR</B></center></td>
                <td><center><B>Passed NDD</B></center></td>
                <td><center><B>Passed EDD</B></center></td>
            </tr>
            <tr>
                <td>{{golden_SAR}}</td>
                <td>{{golden_NDD}}</td>
                <td>{{golden_EDD}}</td>
            </tr>
        </tbody>
    </table>
    <div align="right"><h5>Total Number of Passed Golden Retriever: {{total_golden}}</h5></div>

            <h3>Jack Russel</h3>
    <table class="ui celled table" id = ''>
        <tbody>
                <td><center><B>Passed SAR</B></center></td>
                <td><center><B>Passed NDD</B></center></td>
                <td><center><B>Passed EDD</B></center></td>
            </tr>
            <tr>
                <td>{{jack_SAR}}</td>
                <td>{{jack_NDD}}</td>
                <td>{{jack_EDD}}</td>
            </tr>
        </tbody>
    </table>
    <div align="right"><h5>Total Number of Passed Jack Russel: {{total_jack}}</h5></div>

            <h3>Labrador Retriever</h3>
    <table class="ui celled table" id = ''>
        <tbody>
                <td><center><B>Passed SAR</B></center></td>
                <td><center><B>Passed NDD</B></center></td>
                <td><center><B>Passed EDD</B></center></td>
            </tr>
            <tr>
                <td>{{lab_SAR}}</td>
                <td>{{lab_NDD}}</td>
                <td>{{lab_EDD}}</td>
            </tr>
        </tbody>
    </table>
    <div align="right"><h5>Total Number of Passed Labrador Retriever: {{total_lab}}</h5></div>



    <div align="left"><br>Report generated by: {{user}}</div>
    <br>

</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#tabledata').DataTable();

        $(function() {
            var res = $('#status').text();
            if($('#status').text()=='Approved'){
               $('#approve_btn').prop('disabled', true);
            }
        });

    } );

</script>
 {% endblock %}