{% load static %}
{% block content %} 

{% if edd_data or ndd_data or sar_data %}

<div class="ui segment" id="printableArea">
    <center>
    <br><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Philippine_Coast_Guard_%28PCG%29.svg/220px-Philippine_Coast_Guard_%28PCG%29.svg.png" width="100">
    <br>Philippine Coast Guard
    <br>Maritime Security Command
        <br><b>HEADQUARTERS COAST GUARD K9 FORCE</b>
    <br>Coast Guard Base Taguig
    <br>#56 ML Quezon St. New Lower Bicutan, Taguig City
        <br>Training Summary Report
        <br><b>{{from_date}} to {{to_date}}</b></center>
    
    <table class="ui small celled  four column table">
        <thead class="center aligned">
            <tr>
                <th colspan="4" >SUMMARY</th>
            </tr>
            <tr>
            <th>Capability</th>
            <th>Passed</th>
            <th>Failed</th>
            <th>Total K9 by Capability</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data%}
            <tr class="right aligned">
                <td class="left aligned">{{data.0}}</td>
                <td>{{data.1}}</td>
                <td>{{data.2}}</td>
                <td>{{data.3}}</td>
            </tr>            
            {%endfor%}
            <tr class="right aligned" style="font-weight: bold;">
                <td>TOTAL</td>
                <td>{{passed}}</td>
                <td>{{failed}}</td>
                <td>{{total}}</td>
            </tr>

        </tbody>
    </table>

    <table class="ui small celled structured four column table">
        <thead class="center aligned">
            <tr>
                <th colspan="4" >EDD TRAINING</th>
            </tr>
          <tr>
            <th>Breed</th>
            <th>Passed</th>
            <th>Failed</th>
            <th>Total K9 by Breed</th>
          </tr>
        </thead>
        <tbody>
            {% for data in edd_data%}
            <tr class="right aligned">
            <td class="left aligned">{{data.0}}</td>
            <td>{{data.1}}</td>
            <td>{{data.2}}</td>
            <td>{{data.3}}</td>
            </tr>
           
            {%endfor%}
            <tr class="right aligned" style="font-weight: bold;">
                <td colspan="3">Total K9 in EDD Training</td>
                <td colspan="1" >{{edd_total}}</td>
            </tr>
        </tbody>
    </table>

    <table class="ui small celled structured four column table">
        <thead class="center aligned">
            <tr >
                <th colspan="4" >NDD TRAINING</th>
            </tr>
            <tr>
            <th>Breed</th>
            <th>Passed</th>
            <th>Failed</th>
            <th>Total K9 by Breed</th>
            </tr>
        </thead>
        <tbody>
            {% for data in ndd_data%}
            <tr class="right aligned">
            <td class="left aligned">{{data.0}}</td>
            <td>{{data.1}}</td>
            <td>{{data.2}}</td>
            <td>{{data.3}}</td>
            </tr>
            
            {%endfor%}
            <tr class="right aligned" style="font-weight: bold;">
                <td colspan="3" >Total K9 in NDD Training </td>
                <td colspan="1" >{{ndd_total}}</td>
            </tr>
        </tbody>
    </table>

    <table class="ui small celled structured four column table">
        <thead class="center aligned">
            <tr>
                <th colspan="4" >SAR TRAINING</th>
            </tr>
            <tr>
            <th>Breed</th>
            <th>Passed</th>
            <th>Failed</th>
            <th>Total K9 by Breed</th>
            </tr>
        </thead>
        <tbody>
            {% for data in sar_data%}
            <tr class="right aligned">
            <td class="left aligned">{{data.0}}</td>
            <td>{{data.1}}</td>
            <td>{{data.2}}</td>
            <td>{{data.3}}</td>
            </tr>
            
            {%endfor%}
            <tr class="right aligned" style="font-weight: bold;">
                <td colspan="3">Total K9 in SAR Training</td>
                <td colspan="1" >{{sar_total}}</td>
            </tr>
        </tbody>
    </table>

    <br>Report generated by: {{user}}
    <br>

</div>
<center><input type="button" class="ui primary button"
onclick="printDiv('printableArea')" value="Print" /></center>

{% else %}
<div class="ui blue icon message">
    <i class="folder open icon"></i>
    <div class="content">
        <div class="header">
            NO REPORT FOR THE SELECTED DATE RANGE. :(
        </div>
    </div>
</div>

{% endif %}

<script type="text/javascript">

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>
 {% endblock %}